In [1]:
import requests
import pandas as pd

In [49]:
url = 'https://api.boattrader.com/app/boat-dealers/dealers'
parameters = {'apikey': '8b08b9bc353c494a80c60fb86debfc56','pageSize': 3000,'page': 1}
response = requests.get(url, params=parameters)
json_list = response.json()['records']
df = pd.DataFrame(json_list)

In [50]:
columns = [
    'id',
    # 'parentId',
    'name',
    'displayName',
    'email',
    'street',
    'city',
    'countrySubDivisionCode',
    'postalCode',
    # 'country',
    'phone',
    'website',
    # 'logoPath',
    # 'logoUrl',
    'coordinates'
]

df_final = df[columns].rename(columns={"displayName": "title",'countrySubDivisionCode':'state'})

df_final['lat']  = df_final.coordinates.apply(lambda x : x[0] if type(x) == list else x)
df_final['long'] = df_final.coordinates.apply(lambda x : x[1] if type(x) == list else x)

df_final.drop('coordinates', axis=1, inplace=True)

In [51]:
# Number of dealers
# Number of duplicates
# plot: dealer per state
# Number of dealers without email
# Number of dealers without phone
# Number of dealers with website

In [52]:
# Number of dealers
df_final.shape[0]

2393

In [53]:
# Number of duplicates
df_final[df_final.name.duplicated()].shape[0] # based on dealership name

97

In [54]:
# plot: dealer per state
df_final.groupby('state').aggregate('count')[['id']].sort_values('id', ascending=False)

        id
state
FL     591
TX     165
CA     117
NY     100
MI      95
NC      91
SC      70
NJ      69
WA      69
GA      67
MD      64
WI      59
MA      53
TN      51
AL      51
VA      48
OH      48
IL      47
MO      45
OK      39
CT      37
MN      35
IN      29
AZ      27
KY      26
AR      26
LA      24
PA      24
NH      23
ME      19
RI      19
UT      18
OR      18
MS      16
ID      14
IA      13
MT      10
CO      10
DE       9
NE       7
ND       7
KS       7
WV       7
NV       5
SD       4
NM       3
VT       2
AK       1
HI       1
DC       1
WY       1

In [58]:
x = df_final.groupby('state').aggregate('count').reset_index()[['state','id']].sort_values('id', ascending=False).rename(columns={"id": "count"})
x

   state  count
9     FL    591
43    TX    165
4     CA    117
34    NY    100
22    MI     95
27    NC     91
40    SC     70
31    NJ     69
47    WA     69
10    GA     67
20    MD     64
48    WI     59
19    MA     53
42    TN     51
1     AL     51
45    VA     48
35    OH     48
14    IL     47
24    MO     45
36    OK     39
6     CT     37
23    MN     35
15    IN     29
3     AZ     27
17    KY     26
2     AR     26
18    LA     24
38    PA     24
30    NH     23
21    ME     19
39    RI     19
44    UT     18
37    OR     18
25    MS     16
13    ID     14
12    IA     13
26    MT     10
5     CO     10
8     DE      9
29    NE      7
28    ND      7
16    KS      7
49    WV      7
33    NV      5
41    SD      4
32    NM      3
46    VT      2
0     AK      1
11    HI      1
7     DC      1
50    WY      1