In [1]:
import requests
import pandas as pd

In [2]:
url = 'https://api.boattrader.com/app/boat-dealers/dealers'
parameters = {'apikey': '8b08b9bc353c494a80c60fb86debfc56','pageSize': 3000,'page': 1}
response = requests.get(url, params=parameters)
json_list = response.json()['records']
df = pd.DataFrame(json_list)

In [3]:
columns = [
    'id',
    # 'parentId',
    'name',
    'displayName',
    'email',
    'street',
    'city',
    'countrySubDivisionCode',
    'postalCode',
    # 'country',
    'phone',
    'website',
    # 'logoPath',
    # 'logoUrl',
    'coordinates'
]

df_final = df[columns].rename(columns={"displayName": "title",'countrySubDivisionCode':'state'})

df_final['lat']  = df_final.coordinates.apply(lambda x : x[0] if type(x) == list else x)
df_final['long'] = df_final.coordinates.apply(lambda x : x[1] if type(x) == list else x)

df_final.drop('coordinates', axis=1, inplace=True)

In [5]:
# Number of dealers
# Number of duplicates
# plot: dealer per state
# Number of dealers without email
# Number of dealers without phone
# Number of dealers with website

In [9]:
# Number of dealers
df_final.shape[0]

2393

In [17]:
# Number of duplicates
df_final[df_final.name.duplicated()].shape[0] # based on dealership name

97

In [27]:
# plot: dealer per state
df_final.groupby('state').aggregate('count')[['id']]

        id
state
AK       1
AL      51
AR      26
AZ      27
CA     117
CO      10
CT      37
DC       1
DE       9
FL     591
GA      67
HI       1
IA      13
ID      14
IL      47
IN      29
KS       7
KY      26
LA      24
MA      53
MD      64
ME      19
MI      95
MN      35
MO      45
MS      16
MT      10
NC      91
ND       7
NE       7
NH      23
NJ      69
NM       3
NV       5
NY     100
OH      48
OK      39
OR      18
PA      24
RI      19
SC      70
SD       4
TN      51
TX     165
UT      18
VA      48
VT       2
WA      69
WI      59
WV       7
WY       1

In [31]:
pd.DataFrame(
    np.random.randn(50, 3),
    columns=["a", "b", "c"])

           a         b         c
0   0.475280  0.754910 -1.592568
1   0.253820 -0.005260 -0.084595
2  -0.607000  0.035107 -0.388111
3  -0.421343  1.982038 -0.669118
4  -0.028043 -0.826158 -0.422652
5  -1.507926 -0.025648  0.082189
6  -0.454301  1.003263 -0.127940
7   0.691411 -0.259701  1.662479
8  -0.272811 -1.786970  0.064731
9  -0.588072  1.230755  3.107191
10  1.687341  0.894791  0.237579
11  1.320827  0.413338  0.885040
12  0.212368 -0.549709 -0.741093
13  1.107498 -1.149063  0.278977
14  0.841994  0.338076 -1.624919
15  0.908488  1.965744 -0.859808
16 -0.525808 -0.538152  1.043339
17  0.415186  0.059621 -1.546978
18  1.091390 -0.441015 -0.068115
19 -0.931323 -0.688888 -2.141941
20  0.757251 -1.536756 -0.140558
21  0.350874  0.652185 -0.267232
22 -2.381356 -0.159905 -0.146224
23  0.666446 -0.396548  1.115343
24 -0.805867 -0.998911  1.404597
25  2.283345 -2.022231  0.548010
26 -1.402382 -0.482226 -1.351627
27  0.368242  1.023778 -0.029418
28  0.099013  0.104671 -1.152626
29  0.279190 -0.682107  0.858115
30  0.586290 -0.965818 -0.606139
31  1.441634 -0.932271  1.745437
32 -0.222724 -1.520644 -1.592745
33  0.258206  0.324421  1.055105
34  1.624927 -1.267346  0.256833
35 -0.938834  0.240993  0.113782
36 -0.020952  0.304216 -0.427655
37 -0.723441  0.772501  0.582168
38 -1.377853  1.115284 -0.092064
39 -0.903105 -0.289891 -0.372678
40  3.327721  0.746652  1.102127
41  0.774271 -0.001758  0.765806
42 -0.888685 -2.347772 -0.474518
43 -1.830766  0.003352  2.560854
44 -0.233992  1.384838 -0.282581
45  0.028560  0.465239  0.349452
46 -0.711178  0.821615 -0.307966
47 -0.015231  0.096712 -0.417677
48 -0.813549  0.102727  1.891681
49  1.159707  1.599425 -1.774698