In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "https://www.forbes.com/billionaires/page-data/index/page-data.json"

response = requests.get(url)

json_data = response.json()

In [3]:
rows = json_data['result']['pageContext']['tableData']

In [4]:
tableData = {
    k: v
    for (k, v) in rows[0].items()
    if
    (k != 'person') & # dict
    (k != 'employment') & # dict
    (k != 'qas') & # two dicts
    (k != 'bios') & # list
    (k != 'abouts') & #list
    (k != 'csfDisplayFields') #list
}

In [5]:
person = {
    list(rows[0].keys())[9]+'_'+k:v
    for (k,v) in rows[0][list(rows[0].keys())[9]].items()
}

In [6]:
employment = {
    list(rows[0].keys())[33]+'_'+k:v
    for (k,v) in rows[0][list(rows[0].keys())[33]].items()
}

In [9]:
ls_=[]

for row in rows:
    tableData = {
        k: v
        for (k, v) in row.items()
        if
        (k != 'person') & # dict
        (k != 'employment') & # dict
        (k != 'qas') & # two dicts
        (k != 'bios') & # list
        (k != 'abouts') & #list
        (k != 'csfDisplayFields') #list
        }
    ls_.append(tableData)

In [34]:
data = pd.DataFrame(ls_)

In [35]:
cols_to_drop = [
    'parentListUri',
    'organization',
    'title',
    'selfMadeRank',
    'residenceStateRegion',
    'embargo',
    'residenceMsa',
    'impactInvestor',
    'numberOfSiblings',
    'numberOfSiblingsEst',
    'bio',
    # 'totalCharitableDonation',
    # 'charitableDonationPercentage',
    'thumbnail',
    'notableDeal',
    'valueCreated',
    'primaryIndustry',
    'portraitImage',
    'landscapeImage',
    'clients',
    'name',
    'year',
    'month',
    'listUri',
    'visible',
    'version',
    'naturalId',
    'imageExists',
    'listDescription',
    'wealthList',
    'bioSuppress',
    'suppressOnProfiles',
    'premiumProfile',
    'philanthropyScore',
    'otherCompensation'
    ]

data.drop(cols_to_drop, axis=1, inplace=True)

In [36]:
pd.options.display.max_columns= None

In [37]:
data

,uri,rank,finalWorth,category,personName,age,country,state,city,source,industries,countryOfCitizenship,timestamp,position,selfMade,status,gender,birthDate,lastName,firstName,date,familyList,squareImage,netWorth
0,elon-musk,1,219000,Automotive,Elon Musk,50,United States,Texas,Austin,"Tesla, SpaceX",Automotive,United States,1664284092360,1,True,U,M,4.691520e+10,Musk,Elon,1649134860000,False,https://specials-images.forbesimg.com/imageser...,$219 B
1,jeff-bezos,2,171000,Technology,Jeff Bezos,58,United States,Washington,Seattle,Amazon,Technology,United States,1664284094526,2,True,D,M,-1.884384e+11,Bezos,Jeff,1649134860000,False,https://specials-images.forbesimg.com/imageser...,$171 B
2,bernard-arnault,3,158000,Fashion & Retail,Bernard Arnault & family,73,France,NaN,Paris,LVMH,Fashion & Retail,France,1649136422879,3,False,U,M,-6.572448e+11,Arnault,Bernard,1649116800000,False,//specials-images.forbesimg.com/imageserve/5dc...,$158 B
3,bill-gates,4,129000,Technology,Bill Gates,66,United States,Washington,Medina,Microsoft,Technology,United States,1664284096498,4,True,U,M,-4.474656e+11,Gates,Bill,1649134860000,False,https://specials-images.forbesimg.com/imageser...,$129 B
4,warren-buffett,5,118000,Finance & Investments,Warren Buffett,91,United States,Nebraska,Omaha,Berkshire Hathaway,Finance & Investments,United States,1664284100407,5,True,U,M,-1.241482e+12,Buffett,Warren,1649134860000,False,//specials-images.forbesimg.com/imageserve/5ba...,$118 B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2663,zhang-yuqiang,2578,1000,Manufacturing,Zhang Yuqiang,66,China,NaN,Tongxiang,Fiberglass,Manufacturing,China,1649106322824,2664,True,E,M,-4.523904e+11,Zhang,Yuqiang,1649116800000,False,NaN,$1 B
2664,zhou-ruxin,2578,1000,Technology,Zhou Ruxin,59,China,NaN,Beijing,Navigation,Technology,China,1649106324192,2665,True,D,M,-2.158272e+11,Zhou,Ruxin,1649116800000,False,NaN,$1 B
2665,wen-zhou,2578,1000,Manufacturing,Wen Zhou & family,57,China,NaN,Shanghai,chemicals,Manufacturing,China,1649106325939,2666,True,D,M,-1.522368e+11,Zhou,Wen,1649116800000,False,NaN,$1 B
2666,zhou-yifeng,2578,1000,Energy,Zhou Yifeng & family,43,China,NaN,Zhangjiagang,liquefied petroleum gas,Energy,China,1649106327425,2667,True,D,F,2.689632e+11,Zhou,Yifeng,1649116800000,False,NaN,$1 B
2667,zhuang-kuilong,2578,1000,Manufacturing,Zhuang Kuilong & family,59,China,NaN,Jiaxing,polyester,Manufacturing,China,1649106328778,2668,True,D,M,-2.382048e+11,Zhuang,Kuilong,1649116800000,False,NaN,$1 B

In [39]:
# GENDER:
    # BREAKDOWN PER INDUSTRY
    # BREAKDOWN PER TOP 10 COUNTRIES

# AGE DISTRUBTION
    # BREAKDOWN PER INDUSTRY

# NET WORTH DISTRIBUTION
    #