In [19]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://www.house.gov/representatives"

response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

tables = soup.select('table')

rows = []

for table in tables[:56]:
    row = {}
    row['District']             = [x.text.strip() for x in table.select('td')][0::6]
    row['Name']                 = [x.text.strip() for x in table.select('td')][1::6]
    row['Party']                = [x.text.strip() for x in table.select('td')][2::6]
    row['Office Room']          = [x.text.strip() for x in table.select('td')][3::6]
    row['Phone']                = [x.text.strip() for x in table.select('td')][4::6]
    row['Committee Assignment'] = [x.text.strip() for x in table.select('td')][5::6]
    row['State']                = table.select_one('caption').text.strip()
    df_state = pd.DataFrame(row)
    rows.append(df_state)

In [20]:
data = pd.concat(rows)

In [21]:
data

,District,Name,Party,Office Room,Phone,Committee Assignment,State
0,1st,"Carl, Jerry L.",R,1330 LHOB,(202) 225-4931,Armed Services|Natural Resources,Alabama
1,2nd,"Moore, Barry",R,1504 LHOB,(202) 225-2901,Agriculture|Veterans' Affairs,Alabama
2,3rd,"Rogers, Mike",R,2469 RHOB,(202) 225-3261,Armed Services,Alabama
3,4th,"Aderholt, Robert",R,266 CHOB,(202) 225-4876,Appropriations,Alabama
4,5th,"Brooks, Mo",R,2185 RHOB,(202) 225-4801,"Armed Services|Science, Space, and Technology",Alabama
...,...,...,...,...,...,...,...
4,5th,"Fitzgerald, Scott",R,1507 LHOB,(202) 225-5101,Education and Labor|Judiciary|Small Business,Wisconsin
5,6th,"Grothman, Glenn",R,1427 LHOB,(202) 225-2476,Budget|Education and Labor|Oversight and Reform,Wisconsin
6,7th,"Tiffany, Thomas P.",R,1719 LHOB,(202) 225-3365,Natural Resources|Judiciary,Wisconsin
7,8th,"Gallagher, Mike",R,1230 LHOB,(202) 225-5665,Armed Services|Intelligence|Transportation and...,Wisconsin
0,At Large,"Cheney, Liz",R,416 CHOB,(202) 225-2311,Armed Services|Select Committee to Investigate...,Wyoming

In [22]:
for e in rows:
    print(type(e))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [7]:
import pandas as pd
s1 = pd.DataFrame(['a', 'b'])
s2 = pd.DataFrame(['c', 'd'])
pd.concat([s1, s2])

   0
0  a
1  b
0  c
1  d