In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://www.cbsnews.com/world/'

response = requests.get(url)

soup = BeautifulSoup(response.text)

In [3]:
rows = [] # list of information for each article

sections = soup.find_all('section')

for section in sections:

    articles = section.find_all('article')
    
    try:
        # print(section.find('h3').text.strip())
        for article in articles:
            row = {}
            row['Section'] = section.find('h3').text.strip()
            row['Title'] = article.find('h4').text.strip()
            row['Description'] = article.find('p').text.strip()
            row['Date'] = article.find('li').text
            row['url_article'] = article.find('a')['href']
            row['url_image'] = article.find('img')['src']
            rows.append(row)
    except:
        pass

In [4]:
data = pd.DataFrame(rows)

data.to_csv('cbsnews_webscrape.csv', index=False)

In [4]:
data = pd.DataFrame(rows)

data.Section.value_counts().reset_index().rename(columns={'index': 'Method'})

              Method  Section
0               U.S.       65
1              World       20
2        Latest News        9
3         MoneyWatch        5
4           Politics        5
5             Health        5
6      Entertainment        5
7         Technology        5
8            Science        5
9              Crime        5
10             Space        5
11  Latest Galleries        5
12     Latest Videos        5