# Approach 1: Selenium

In [18]:
# !pip install webdriver-manager

In [16]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.forbes.com/lists/global2000/?sh=288ed175ac04'

In [ ]:
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)

In [8]:
html = driver.page_source
driver.close()

In [10]:
soup = BeautifulSoup(html)

In [14]:
rank = [ x.text for x in soup.find_all('div',{'class':'rank'})]
organizationName = [ x.text for x in soup.find_all('div',{'class':'organizationName'})]
country = [ x.text for x in soup.find_all('div',{'class':'country'})]
revenue = [ x.text for x in soup.find_all('div',{'class':'revenue'})]
assets = [ x.text for x in soup.find_all('div',{'class':'assets'})]
marketValue = [ x.text for x in soup.find_all('div',{'class':'marketValue'})]

In [19]:
data = pd.DataFrame({
    'rank':rank,
    'organizationName':organizationName,
    'country':country,
    'revenue':revenue,
    'assets':assets,
    'marketValue':marketValue
})

In [20]:
data

,rank,organizationName,country,revenue,assets,marketValue
0,1.,Berkshire Hathaway,United States,$276.09 B,$958.78 B,$741.48 B
1,2.,ICBC,China,$208.13 B,"$5,518.51 B",$214.43 B
2,3.,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,$400.38 B,$576.04 B,"$2,292.08 B"
3,4.,JPMorgan Chase,United States,$124.54 B,"$3,954.69 B",$374.45 B
4,5.,China Construction Bank,China,$202.07 B,"$4,746.95 B",$181.32 B
...,...,...,...,...,...,...
1995,1995.,Shenzhen Feima International Supply Chain,China,$37 M,$166 M,$1.14 B
1996,1997.,NMDC,India,$3.52 B,$5.71 B,$6.4 B
1997,1997.,Sichuan Changhong Electric,China,$15.72 B,$12.11 B,$1.96 B
1998,1999.,Satellite Chemical,China,$4.41 B,$7.64 B,$9.52 B
1999,2000.,Sun Communities,United States,$2.27 B,$13.49 B,$21.71 B

In [31]:
# data.to_csv('forbes2000.csv', index=False)

# Approach 2: requests

In [4]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
url = 'https://www.forbes.com/forbesapi/org/global2000/2022/position/true.json?limit=2000'
response = requests.get(url)

In [23]:
billionaires_list = response.json()['organizationList']['organizationsLists']

In [168]:
dataset = pd.DataFrame(billionaires_list)

In [166]:
# dataset.to_csv('forbes2000-features.csv', index=False)

In [167]:
columns_select = [
'revenue',
'profits',
'assets',
'marketValue',
'employees'
]

In [181]:
df_usa = dataset[dataset.country == 'United States']

In [185]:
dataset.state.value_counts()

California              98
New York                66
Texas                   57
Illinois                35
Pennsylvania            26
Ohio                    26
Virginia                20
Florida                 19
Massachusetts           18
Connecticut             18
Georgia                 17
New Jersey              17
Michigan                16
North Carolina          14
Colorado                13
Minnesota               13
Tennessee               11
Missouri                11
Washington              11
Indiana                 10
Arizona                  8
Wisconsin                7
Maryland                 6
Oklahoma                 6
Delaware                 6
Arkansas                 4
Rhode Island             4
Nevada                   4
District of Columbia     3
Alabama                  3
Louisiana                3
Utah                     2
Nebraska                 2
Iowa                     2
Kentucky                 2
Idaho                    2
Quebec                   1
Oregon                   1
Maine                    1
Montana                  1
Mississippi              1
Name: state, dtype: int64

In [186]:
dataset[dataset.state == 'Idaho']

,name,year,month,uri,description,rank,listUri,organization,visible,position,organizationName,state,timestamp,naturalId,imageExists,image,industry,country,revenue,profits,assets,marketValue,profitsRank,assetsRank,marketValueRank,employees,revenueRank,ceoName,ceoTitle,revenueList,assetsList,profitList,employeesList,date,city,csfDisplayFields,yearFounded,webSite,industryLeader,parentCompany,squareImage,portraitImage,landscapeImage,thumbnail,premiumProfile,ceoCompensations,clients
190,Global 2000,2022,5,micron-technology,"Micron Technology, Inc. engages in the provisi...",191,global2000,"{'name': 'Micron Technology', 'uri': 'micron-t...",True,191,Micron Technology,Idaho,1666277659713,fred/companies/F2K/2022/2852,True,http://images.forbes.com/media/lists/companies...,Semiconductors,United States,31169.0,9024.0,63696.0,77508.0,94.0,611.0,181.0,43000.0,364.0,Sanjay Mehrotra,Chief Executive Officer,"[31169.0, 23503.0, 19599.0, 29985.0, 25858.0, ...","[63696.0, 54135.0, 49648.0, 47487.0, 41263.0, ...","[9024.0, 3197.0, 2297.0, 13060.0, 10002.0, 689...","[43000, 40000, 37000, 36000, 34100, 31400, 318...",1652396400000,Boise,"[rank, organizationName, country, industry, ce...",1978.0,http://www.micron.com,False,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN
534,Global 2000,2022,5,albertsons,Albertsons is a grocery store chain headquarte...,535,global2000,"{'name': 'Albertsons', 'uri': 'albertsons', 'i...",True,535,Albertsons,Idaho,1666277833553,fred/companies/F2K/2022/102435,True,http://images.forbes.com/media/lists/companies...,Food Markets,United States,71887.0,1619.6,28123.0,15571.0,693.0,1172.0,1110.0,NaN,136.0,Vivek Sankaran,Chief Executive Officer,"[71887.0, 69354.9]","[28123.0, 26319.3]","[1619.6, 1062.2]",[270000],1652396400000,Boise,"[rank, organizationName, country, industry, ce...",1939.0,http://www.albertsons.com,False,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN