In [18]:
# !pip install webdriver-manager

In [16]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.forbes.com/lists/global2000/?sh=288ed175ac04'

In [ ]:
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(url)

In [8]:
html = driver.page_source
driver.close()

In [10]:
soup = BeautifulSoup(html)

In [14]:
rank = [ x.text for x in soup.find_all('div',{'class':'rank'})]
organizationName = [ x.text for x in soup.find_all('div',{'class':'organizationName'})]
country = [ x.text for x in soup.find_all('div',{'class':'country'})]
revenue = [ x.text for x in soup.find_all('div',{'class':'revenue'})]
assets = [ x.text for x in soup.find_all('div',{'class':'assets'})]
marketValue = [ x.text for x in soup.find_all('div',{'class':'marketValue'})]

In [19]:
data = pd.DataFrame({
    'rank':rank,
    'organizationName':organizationName,
    'country':country,
    'revenue':revenue,
    'assets':assets,
    'marketValue':marketValue
})

In [20]:
data

,rank,organizationName,country,revenue,assets,marketValue
0,1.,Berkshire Hathaway,United States,$276.09 B,$958.78 B,$741.48 B
1,2.,ICBC,China,$208.13 B,"$5,518.51 B",$214.43 B
2,3.,Saudi Arabian Oil Company (Saudi Aramco),Saudi Arabia,$400.38 B,$576.04 B,"$2,292.08 B"
3,4.,JPMorgan Chase,United States,$124.54 B,"$3,954.69 B",$374.45 B
4,5.,China Construction Bank,China,$202.07 B,"$4,746.95 B",$181.32 B
...,...,...,...,...,...,...
1995,1995.,Shenzhen Feima International Supply Chain,China,$37 M,$166 M,$1.14 B
1996,1997.,NMDC,India,$3.52 B,$5.71 B,$6.4 B
1997,1997.,Sichuan Changhong Electric,China,$15.72 B,$12.11 B,$1.96 B
1998,1999.,Satellite Chemical,China,$4.41 B,$7.64 B,$9.52 B
1999,2000.,Sun Communities,United States,$2.27 B,$13.49 B,$21.71 B

In [31]:
# data.to_csv('forbes2000.csv', index=False)

In [21]:
import requests

In [22]:
response = requests.get('https://www.forbes.com/companies/berkshire-hathaway/?list=global2000&sh=4a2f63b1bef8')

In [25]:
soup = BeautifulSoup(response.text)

In [30]:
soup.find('span',{'class':'profile-stats__text'}).find('span').text

'Diversified Financials'