In [1]:
import requests
import pandas as pd

In [2]:
response = requests.get('https://www.forbes.com/forbesapi/org/top-colleges/2021/position/true.json?limit=1000&fields=organizationName,academics,state,financialAid,rank,medianBaseSalary,campusSetting,studentPopulation,organization,description')

responseObject = response.json()

responseData = responseObject['organizationList']['organizationsLists']

data_main = pd.DataFrame(responseData)

#### Adding 'organization' to main table

In [3]:
# add organization
organization = [ x['organization'] for x in responseData]
data_main = pd.concat([data_main, pd.DataFrame(organization)], axis=1)

#### Add single 'Primary_Key' column to main table

In [4]:
# add naturalId column
data_main['Primary_Key'] = [ x['organization']['naturalId'].split('/')[-1] for x in responseData]

#### Adding 'organization/geoLocation' to main table

In [5]:

# add geoLocation columns
rows = []
for organizationsLists in responseData:
    row = {}    
    # row['Primary_Key'] = organizationsLists['organization']['naturalId'].split('/')[-1]
    try:
        row['latitude'] = organizationsLists['organization']['geoLocation']['latitude']
    except:
        pass
    try:
        row['longitude']= organizationsLists['organization']['geoLocation']['longitude']
    except:
        pass
    rows.append(row)
data_main = pd.concat([data_main, pd.DataFrame(rows)], axis=1)

#### Adding 'Academics' to main table

In [6]:
academics = [ # items in the 'academics' key to be unpacked
    'attendanceStatus',
    'firstToSecondYearRetention',
    'overallGraduationRates',
    'enrollmentByGender',
    'graduationRateByGender',
    'enrollmentByRace',
    'graduationRateByRace']

def restructure(list_of_dictionaries,name): # change the shape of the json
    row = {}
    for item in list_of_dictionaries:
        key_value = [value for key,value in item.items()]
        key_name = name + '_' + key_value[0]
        row[key_name] = key_value[1]
    return row

def dataFrame_of_Item(item): # build a data frame from all json's 
    list_of_rows = []
    for organization in responseData:
        # create reshaped json
        graduationRateByRace = restructure(organization['academics'][item],item)
        # add primary_key number
        # graduationRateByRace['PrimaryKey'] = organization['organization']['naturalId'].split('/')[-1]
        # append to list
        list_of_rows.append(graduationRateByRace)
    return pd.DataFrame(list_of_rows)

# add date frames to main data
df_ls = []

for item in academics:
    df_ls.append(dataFrame_of_Item(item))

academics_unpacked = pd.concat(df_ls, axis=1)

data_main = pd.concat([data_main,academics_unpacked], axis=1)

#### Adding 'organization/socialNetworks' to main table

In [7]:
def restructure(list_of_dictionaries): # input: list of dictionaries | output: structured dictionary
    row = {}
    for item in list_of_dictionaries:
        key_value = [value for key,value in item.items()]
        key_name =key_value[0]
        row[key_name] = key_value[1]
    return row

def dataFrame_of_Item(col_name,item,TF): # input: name of dict to unpack | output: data frame
    list_of_rows = []
    for organization in responseData:
        # create json
        dictionary = {}
        try:
            # create reshaped json
            dictionary = dictionary | restructure(organization[col_name][item])
        except:
            pass
        # add primary_key number
        if TF:
            dictionary['Primary_Key'] = organization['organization']['naturalId'].split('/')[-1]
        # append to list
        list_of_rows.append(dictionary)
    return pd.DataFrame(list_of_rows)

df_socialNetworks = dataFrame_of_Item('organization','socialNetworks',True)

data_main = data_main.merge(df_socialNetworks, on='Primary_Key')

#### Adding 'financialAid' to main table

In [8]:
financialAid = [
    'grantAidByType',
    'avgGrantAidByType',
    'loansByType',
    'avgLoansByType']

def restructure(list_of_dictionaries): # input: list of dictionaries | output: structured dictionary
    row = {}
    for item in list_of_dictionaries:
        key_value = [value for key,value in item.items()]
        key_name =key_value[0]
        row[key_name] = key_value[1]
    return row

def dataFrame_of_Item(col_name,item,TF): # input: name of dict to unpack | output: data frame
    list_of_rows = []
    for organization in responseData:
        # create json
        dictionary = {}
        try:
            # create reshaped json
            dictionary = dictionary | restructure(organization[col_name][item])
        except:
            pass
        # add primary_key number
        if TF:
            dictionary['Primary_Key'] = organization['organization']['naturalId'].split('/')[-1]
        # append to list
        list_of_rows.append(dictionary)
    return pd.DataFrame(list_of_rows)

# add date frames to main data
df_ls = []

for item in financialAid:
    df_ls.append(dataFrame_of_Item('financialAid',item,True))

financialAid_unpacked = pd.concat(df_ls, axis=1)

financialAid_unpacked = financialAid_unpacked.loc[:, ~financialAid_unpacked.columns.duplicated()]

data_main = data_main.merge(financialAid_unpacked)

data_main = data_main.loc[:, ~data_main.columns.duplicated()]

drop_columns = ['organization','academics','financialAid','listImages','geoLocation','visible','relatedVisible','imageExists','socialNetworks','collegeMedia']

data_main.drop(drop_columns, axis=1, inplace=True)

In [9]:
data_main[['latitude', 'longitude']]

      latitude   longitude
0    37.869236 -122.258393
1    41.314042  -72.923425
2    40.349855  -74.659119
3    37.431370 -122.168924
4    40.806515  -73.961288
..         ...         ...
595  47.750994 -117.415201
596  43.527114  -96.736267
597  43.313226  -91.799646
598  41.985318  -91.657250
599  40.695120  -73.994129

[600 rows x 2 columns]

# ------------------ TEST AREA ------------------

# WHAT TO DO:
* ~~unpack 'organization'~~
    * ~~unpack 'geoLocation'~~
    * ~~unpack 'socialNetworks'~~
* ~~unpack 'academics'~~
    * ~~unpack 'attendanceStatus'~~
    * ~~unpack 'firstToSecondYearRetention'~~
    * ~~unpack 'overallGraduationRates'~~
    * ~~unpack 'enrollmentByGender'~~
    * ~~unpack 'graduationRateByGender'~~
    * ~~unpack 'enrollmentByRace'~~
    * ~~unpack 'graduationRateByRace'~~
* ~~unpack 'financialAid'~~
    * ~~grantAidByType~~
    * ~~avgGrantAidByType~~
    * ~~loansByType~~
    * ~~avgLoansByType~~
* ~~drop unnecessary columns~~

In [ ]:
data_main.shape

In [ ]:
col_to_drop = [
       'organization',
       'academics',
       'financialAid',
       'listImages',
       'visible',
       'relatedVisible',
       'imageExists',
       'recentContentCount',
       'country',
       'collegeMedia',
       'landscapeImage',
       'industries',
       'embargo',
       'image',
       'industry',
       'ceoName',
       'ceoTitle',
       'premiumProfile',
       'employees',
       'portraitImage',
       'naturalId',
       'geoLocation',
       'uri',
       'uris',
       'socialNetworks',
       'placeUri'
       ]

data_main.drop(col_to_drop, axis=1, inplace=True)

In [ ]:

data_main.to_csv('University_Data.csv')

In [ ]:
pd.options.display.max_columns = None
data_main

In [ ]:
pd.options.display.max_columns = None
data_main.head()

In [ ]:
data_main[data_main.organizationName == 'Brigham Young University']

In [ ]:
data_main[data_main.organizationName.str.contains('Brigham')]

In [ ]:
pd.options.display.max_rows = 100
# data_main.sort_values(by='enrollmentByGender_enrollmentFemale', ascending=False)

In [ ]:
data_main.columns

In [10]:
pd.options.display.max_rows = None

# data_main[data_main.].dropna(subset=['latitude'])

In [42]:
data_main.state.unique()

array(['CA', 'CT', 'NJ', 'NY', 'MA', 'PA', 'IL', 'NH', 'NC', 'TN', 'DC',
       'MI', 'TX', 'FL', 'RI', 'WA', 'VA', 'MO', 'GA', 'ME', 'MD', 'IN',
       'VT', 'UT', 'WI', 'CO', 'MN', 'OH', 'SC', 'DE', 'IA', 'LA', 'AZ',
       'OK', 'OR', 'AL', 'KS', 'AR', 'NE', 'KY', 'MS', 'NV', 'WV', 'ND',
       'NM', 'MT', 'HI', 'WY', 'ID', 'SD', 'AK'], dtype=object)

In [53]:
data_main.longitude.dropna().max()

85.5016

In [56]:
data_main[data_main.longitude == 85.5016][['latitude','longitude']]

     latitude  longitude
303   36.1628    85.5016

In [57]:
data_main[data_main.longitude == 85.5016]

,description,rank,organizationName,state,studentPopulation,campusSetting,medianBaseSalary,naturalId,name,uri,...,YouTube,federalGrant,pellGrant,otherFederalGrant,stateLocalGrant,institutionalGrant,anyGrant,anyLoan,federalLoan,nonFederalLoan
303,Tennessee Tech is a midsize public research un...,304,Tennessee Technological University,TN,10140,Rural,92000.0,fred/college/820,Tennessee Technological University,tennessee-technological-university,...,https://www.youtube.com/user/ttunews,37.0,36.0,6.0,90.0,48.0,7777.0,50.0,49.0,6.0

In [12]:
pd.options.display.max_columns = None
pd.options.display.max_rows = 10

In [32]:
data_main.squareImage.apply(lambda x : 'https:'+x if (type(x) == str and x.startswith('/')) else x)

0      https://specials-images.forbesimg.com/imageser...
1      https://specials-images.forbesimg.com/imageser...
2      http://specials-images.forbesimg.com/imageserv...
3      https://specials-images.forbesimg.com/imageser...
4      https://specials-images.forbesimg.com/imageser...
                             ...
595    https://specials-images.forbesimg.com/imageser...
596    https://specials-images.forbesimg.com/imageser...
597    https://specials-images.forbesimg.com/imageser...
598    https://specials-images.forbesimg.com/imageser...
599    https://specials-images.forbesimg.com/imageser...
Name: squareImage, Length: 600, dtype: object

In [35]:
pd.DataFrame(responseData)['organization'].apply(pd.Series)

,naturalId,name,listImages,geoLocation,visible,relatedVisible,uri,imageExists,webSite,phoneNumber,recentContentCount,uris,shortUri,squareImage,city,country,state,description,socialNetworks,region,collegeMedia,yearFounded,stateCode,placeUri,landscapeImage,industries,embargo,image,industry,ceoName,ceoTitle,parentOrganization,premiumProfile,employees,portraitImage
0,fred/college/64,"University of California, Berkeley",[{'naturalId': 'image/organization/fred/colleg...,"{'longitude': -122.258393, 'latitude': 37.869236}",True,True,university-of-california-berkeley,True,http://www.berkeley.edu,(510) 642-6000,0.0,[university-of-california-berkeley],http://onforb.es/MvI8Zf,//specials-images.forbesimg.com/imageserve/5d5...,Berkeley,United States,California,One of the top public universities in the coun...,"[{'socialNetwork': 'Twitter', 'siteHandle': 'h...",West,"{'webSite': 'http://www.berkeley.edu', 'youTub...",1868.0,CA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fred/college/10,Yale University,[{'naturalId': 'image/organization/fred/colleg...,"{'longitude': -72.923425, 'latitude': 41.314042}",True,True,yale-university,True,http://www.yale.edu,203-432-4771,NaN,[yale-university],http://onforb.es/NirARu,https://specials-images.forbesimg.com/imageser...,New Haven,United States,Connecticut,Yale University is the second oldest Ivy Leagu...,"[{'socialNetwork': 'Twitter', 'siteHandle': 'h...",Northeast,"{'webSite': 'http://www.yale.edu', 'youTubeUrl...",1701.0,CT,ct/new-haven,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,fred/college/2,Princeton University,[{'naturalId': 'image/organization/fred/colleg...,"{'longitude': -74.659119, 'latitude': 40.349855}",True,True,princeton-university,True,http://www.princeton.edu,609-258-3000,NaN,[princeton-university],http://onforb.es/NirwkP,http://specials-images.forbesimg.com/imageserv...,Princeton,United States,New Jersey,Princeton is a leading private research univer...,"[{'socialNetwork': 'Twitter', 'siteHandle': 'h...",Northeast,"{'webSite': 'http://www.princeton.edu', 'youTu...",1746.0,NJ,nj/mercer-county,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,fred/college/6,Stanford University,[{'naturalId': 'image/organization/fred/colleg...,"{'longitude': -122.168924, 'latitude': 37.43137}",True,True,stanford-university,True,http://www.stanford.edu,650-723-2091,NaN,[stanford-university],http://onforb.es/NiryZI,//specials-images.forbesimg.com/imageserve/5d5...,Stanford,United States,California,Stanford University sits just outside of Palo ...,"[{'socialNetwork': 'Twitter', 'siteHandle': 'h...",West,{'webSite': 'http://www.stanford.edu'},1891.0,CA,ca/san-jose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,fred/college/13,Columbia University,[{'naturalId': 'image/organization/fred/colleg...,"{'longitude': -73.961288, 'latitude': 40.806515}",True,True,columbia-university-in-the-city-of-new-york,True,http://www.columbia.edu,212-854-1754,0.0,[columbia-university-in-the-city-of-new-york],http://onforb.es/NiryZG,https://specials-images.forbesimg.com/imageser...,New York,United States,New York,"Located in upper Manhattan, Columbia Universit...","[{'socialNetwork': 'Twitter', 'siteHandle': 'h...",Northeast,{'webSite': 'http://www.columbia.edu'},1754.0,NY,ny/new-york,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,fred/college/208,Whitworth University,[{'naturalId': 'image/organization/fred/colleg...,"{'longitude': -117.415201, 'latitude': 47.750994}",True,True,whitworth-university,True,http://www.whitworth.edu/,509-777-1000,0.0,[whitworth-university],http://onforb.es/MvI5wD,//specials-images.forbesimg.com/imageserve/598...,Spokane,United States,Washington,"Affiliated with the Presbyterian Church, Whitw...","[{'socialNetwork': 'Twitter', 'siteHandle': 'h...",West,"{'webSite': 'http://www.whitworth.edu/', 'youT...",1890.0,WA,wa/spokane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
596,fred/college/307,Augustana University,[{'naturalId': 'image/organization/fred/colleg...,"{'longitude': -96.736267, 'latitude': 43.527114}",True,True,augustana-university,True,http://www.augie.edu/,(605) 274-0770,0.0,"[augustana-college-sd, augustana-college-il, a...",http://onforb.es/NirTf5,//specials-images.forbesimg.com/imageserve/56e...,Sioux Falls,United States,South Dakota,"Augustana University in Sioux Falls, SD, one o...","[{'socialNetwork': 'Twitter', 'siteHandle': 'h...",Midwest,"{'webSite': 'http://www.augie.edu/', 'youTubeU...",1860.0,SD,sd/sioux-falls,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
597,fred/college/121,Luther College,[{'naturalId': 'image/organization/fred/colleg...,"{'longitude': -91.799646, 'latitude': 43.313226}",True,NaN,luther-college,True,http://www.luther.edu/,(563) 387-2000,0.0,[luther-college],http://onforb.es/NiqjKf,https://specials-images.forbesimg.com/imageser...,Decorah,United States,Iowa,"A small, Lutheran liberal arts college in the ...","[{'socialNetwork': 'Twitter', 'siteHandle': 'h...",Midwest,"{'webSite': 'http://www.luther.edu/', 'youTube...",1861.0,IA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
598,fred/college/224,Coe College,[{'naturalId': 'image/organization/fred/colleg...,"{'longitude': -91.65725, 'latitude': 41.985318}",True,True,coe-college,True,http://www.coe.edu/,319.399.8500,0.0,[coe-college],http://onforb.es/NirwBf,https://specials-images.forbesimg.com/imageser...,Cedar Rapids,United States,Iowa,Coe College is a liberal arts school in Cedar ...,"[{'socialNetwork': 'Facebook', 'siteHandle': '...",Midwest,{'webSite': 'http://www.coe.edu/'},1851.0,IA,ia/cedar-rapids,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
599,fred/college/445,St. Francis College,[{'naturalId': 'image/organization/fred/colleg...,"{'longitude': -73.994129, 'latitude': 40.69512}",True,True,st-francis-college,True,http://www.sfc.edu/,718-489-5200,NaN,[st-francis-college],http://onforb.es/MvI3op,https://specials-images.forbesimg.com/imageser...,Brooklyn,United States,New York,"St Francis is a small, Catholic liberal arts c...","[{'socialNetwork': 'Twitter', 'siteHandle': 'h...",Northeast,"{'webSite': 'http://www.sfc.edu/', 'youTubeUrl...",1859.0,NY,ny/new-york,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
[
# 'description',
 'rank',
#  'organizationName',
 'state',
 'studentPopulation',
#  'campusSetting',
 'medianBaseSalary',
#  'naturalId',
#  'name',
#  'uri',
 'webSite',
 'phoneNumber',
#  'recentContentCount',
#  'uris',
#  'shortUri',
 'squareImage',
 'city',
#  'country',
 'region',
#  'yearFounded',
 'stateCode',
#  'placeUri',
#  'landscapeImage',
#  'industries',
#  'embargo',
#  'image',
#  'industry',
#  'ceoName',
#  'ceoTitle',
#  'parentOrganization',
#  'premiumProfile',
#  'employees',
#  'portraitImage',
#  'Primary_Key',
 'latitude',
 'longitude',
#  'attendanceStatus_partTime',
#  'attendanceStatus_fullTime',
#  'firstToSecondYearRetention_fullTime',
#  'firstToSecondYearRetention_partTime',
#  'overallGraduationRates_4',
#  'overallGraduationRates_6',.
 'enrollmentByGender_enrollmentMale',
 'enrollmentByGender_enrollmentFemale',
#  'enrollmentByGender_AgeUnder18',
#  'enrollmentByGender_Age18to24',
#  'enrollmentByGender_Age25to64',
#  'enrollmentByGender_Age65andOver',
 'graduationRateByGender_graduationMale',
 'graduationRateByGender_graduationFemale',
#  'enrollmentByRace_americanIndian',
#  'enrollmentByRace_asian',
#  'enrollmentByRace_hawaiianPacific',
#  'enrollmentByRace_africanAmerican',
#  'enrollmentByRace_hispanic',
#  'enrollmentByRace_white',
#  'enrollmentByRace_twoRaces',
#  'enrollmentByRace_unknown',
#  'enrollmentByRace_alien',
#  'graduationRateByRace_americanIndian',
#  'graduationRateByRace_asian',
#  'graduationRateByRace_hawaiianPacific',
#  'graduationRateByRace_africanAmerican',
#  'graduationRateByRace_hispanic',
#  'graduationRateByRace_white',
#  'graduationRateByRace_twoRaces',
#  'graduationRateByRace_unknown',
#  'graduationRateByRace_alien',
 'Twitter',
 'Facebook',
 'LinkedIn',
 'Instagram',
 'YouTube',
 'federalGrant'
#  'pellGrant',
#  'otherFederalGrant',
#  'stateLocalGrant',
#  'institutionalGrant',
#  'anyGrant',
#  'anyLoan',
#  'federalLoan',
#  'nonFederalLoan'
 ]

['rank',
 'state',
 'studentPopulation',
 'medianBaseSalary',
 'webSite',
 'phoneNumber',
 'squareImage',
 'city',
 'region',
 'stateCode',
 'latitude',
 'longitude',
 'enrollmentByGender_enrollmentMale',
 'enrollmentByGender_enrollmentFemale',
 'graduationRateByGender_graduationMale',
 'graduationRateByGender_graduationFemale',
 'Twitter',
 'Facebook',
 'LinkedIn',
 'Instagram',
 'YouTube',
 'federalGrant']