In [1]:
import requests
import pandas as pd

In [2]:
response = requests.get('https://web.byui.edu/studentemployment/api/jobs')

data_json = response.json()

data = pd.DataFrame(data_json)

In [3]:
pd.options.display.max_columns = None

## Top 5 highest paid jobs

In [4]:
data.sort_values('payRate', ascending=False).head(5)[['title','payRate','workSchedule']]

                          title  payRate  workSchedule
6             Systems Developer     12.0  Flexible M-F
7   Reports and Systems Analyst     12.0    M-F Varies
70  Health Center Lab Assistant     11.5           NaN
47              CIT325 OnlineTA     11.3      Flexible
13              CIT325 OnlineTA     11.3      Flexible

## All Jobs that are not 'Online','TA', and 'Custodial'

In [5]:
print(f'''There are {data[~data.title.str.contains('TA|Custodian|Online')].shape[0]} jobs that are not Online, TA, not custodial''')

data[~data.title.str.contains('TA|Custodian|Online')].sort_values('payRate', ascending=False)[['title','payRate','workSchedule']]

There are 28 jobs that are not Online, TA, not custodial

,title,payRate,workSchedule
6,Systems Developer,12.00,Flexible M-F
7,Reports and Systems Analyst,12.00,M-F Varies
70,Health Center Lab Assistant,11.50,NaN
18,Phones Specialist,10.38,"4pm-6pm, 5pm-8pm"
42,Clinician Aide,10.15,M-F TBD
20,Food Services Student Jobs,10.00,Many Shifts Available
40,Assessment Consultant,10.00,Flexible
19,Grounds Crew 12,9.58,8:00AM-12:00PM
32,Grounds Crew 6,9.58,"1:00PM to 5:00 PM, Monday-Friday"
33,Grounds Crew 11,9.58,NaN
38,Grounds Crew 16,9.58,NaN
72,Grounds Crew 5,9.58,"6:00am-12:00pm, 1:00pm-3:00pm Monday thru Friday"
11,Grounds Crew 8,9.58,NaN
45,Grounds Crew 2,9.58,6-10AM or 10-2PM
48,Grounds Crew 13,9.58,NaN
49,Hard Floor Team Member,9.58,"Monday-Friday, 8PM-11PM"
56,Grounds Crew 6,9.58,"8 AM-Noon, Monday-Friday"
60,Grounds Crew 5,9.58,NaN
61,Grounds Crew 9,9.58,3-4 hours block M-F
41,Security-Lock up Patrol,9.50,evenings/nights
76,Assistant Music Producer (Music Dept.),9.35,Apprx. 40 hr/week depending on event/productio...
8,Chemistry Lab Coordinator,NaN,"Evenings 5-7pm, M-F"
9,Project Manager,NaN,NaN
34,Recording/Post Audio Engineering Student,NaN,NaN
36,Campus Tour Guide,NaN,
62,IT Service Desk Analyst,NaN,NaN
69,A/V & Broadcast Productions Lighting Crew,NaN,NaN
90,Security-Lock up Patrol,NaN,NaN

In [ ]:
data.dateUpdated = data.dateUpdated.dt.time

In [ ]:
data.set_index('dateUpdated').plot()

In [ ]:
data[data.payRate == data.payRate.max()]

In [ ]:
data.sort_values('payRate',ascending=False).head(3)

In [ ]:
data['payRate'].iloc[0]