In [218]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [219]:
url = "https://www.forbes.com/billionaires/page-data/index/page-data.json"

response = requests.get(url)

json_data = response.json()

In [79]:
rows = json_data['result']['pageContext']['tableData']

In [221]:
tableData = {
    k: v
    for (k, v) in rows[0].items()
    if
    (k != 'person') & # dict
    (k != 'employment') & # dict
    (k != 'qas') & # two dicts
    (k != 'bios') & # list
    (k != 'abouts') & #list
    (k != 'csfDisplayFields') #list
}
tableData

{'name': 'Billionaires',
 'year': 2022,
 'month': 4,
 'uri': 'elon-musk',
 'rank': 1,
 'listUri': 'billionaires',
 'finalWorth': 219000,
 'category': 'Automotive',
 'otherCompensation': 0,
 'visible': True,
 'personName': 'Elon Musk',
 'age': 50,
 'country': 'United States',
 'state': 'Texas',
 'city': 'Austin',
 'source': 'Tesla, SpaceX',
 'industries': 'Automotive',
 'countryOfCitizenship': 'United States',
 'organization': 'Tesla',
 'timestamp': 1654704576021,
 'version': 1,
 'naturalId': 'faris/5/2022/14117',
 'position': 1,
 'imageExists': True,
 'selfMade': True,
 'status': 'U',
 'gender': 'M',
 'birthDate': 46915200000,
 'lastName': 'Musk',
 'firstName': 'Elon',
 'listDescription': "The World's Billionaires",
 'title': 'CEO',
 'date': 1649199600000,
 'wealthList': False,
 'familyList': False,
 'selfMadeRank': 8,
 'residenceStateRegion': 'South',
 'squareImage': 'https://specials-images.forbesimg.com/imageserve/5f47d4de7637290765bce495/416x416.jpg?background=000000&cropX1=1699&cropX2=3845&cropY1=559&cropY2=2704',
 'bioSuppress': False,
 'suppressOnProfiles': False,
 'premiumProfile': False,
 'philanthropyScore': 1,
 'embargo': False,
 'netWorth': '$219 B'}

In [216]:
person = {
    list(rows[0].keys())[9]+'_'+k:v
    for (k,v) in rows[0][list(rows[0].keys())[9]].items()
}
person

{'person_name': 'Elon Musk',
 'person_uri': 'elon-musk',
 'person_imageExists': True,
 'person_squareImage': 'https://specials-images.forbesimg.com/imageserve/5f47d4de7637290765bce495/416x416.jpg?background=000000&cropX1=1699&cropX2=3845&cropY1=559&cropY2=2704'}

In [217]:
employment = {
    list(rows[0].keys())[33]+'_'+k:v
    for (k,v) in rows[0][list(rows[0].keys())[33]].items()
}
employment

{'employment_name': 'Tesla',
 'employment_uri': 'companies/tesla',
 'employment_title': 'CEO',
 'employment_government': False,
 'employment_featuredExecutive': False}

In [140]:
rows[0]['qas']

[{'question': 'Innovative Leaders: 12-month Sales Growth, %',
  'answer': '27.03',
  'hidden': False},
 {'question': 'Innovative Leaders: Company Innovation Premium',
  'answer': '72.16',
  'hidden': False}]

In [222]:
pd.DataFrame([tableData])

,name,year,month,uri,rank,listUri,finalWorth,category,otherCompensation,visible,...,familyList,selfMadeRank,residenceStateRegion,squareImage,bioSuppress,suppressOnProfiles,premiumProfile,philanthropyScore,embargo,netWorth
0,Billionaires,2022,4,elon-musk,1,billionaires,219000,Automotive,0,True,...,False,8,South,https://specials-images.forbesimg.com/imageser...,False,False,False,1,False,$219 B

In [203]:
    ls_=[]

    for row in rows:
        tableData = {
            k: v
            for (k, v) in row.items()
            if
            (k != 'person') & # dict
            (k != 'employment') & # dict
            (k != 'qas') & # two dicts
            (k != 'bios') & # list
            (k != 'abouts') & #list
            (k != 'csfDisplayFields') #list
            }
        ls_.append(tableData)

In [204]:
data = pd.DataFrame(ls_)

In [205]:
cols_to_drop = [
    'parentListUri',
    'organization',
    'title',
    'selfMadeRank',
    'residenceStateRegion',
    'embargo',
    'residenceMsa',
    'impactInvestor',
    'numberOfSiblings',
    'numberOfSiblingsEst',
    'bio',
    'totalCharitableDonation',
    'charitableDonationPercentage',
    'thumbnail',
    'notableDeal',
    'valueCreated',
    'primaryIndustry',
    'portraitImage',
    'landscapeImage',
    'clients']

data.drop(cols_to_drop, axis=1, inplace=True)

In [206]:
data.isna().sum()

name                       0
year                       0
month                      0
uri                        0
rank                       0
listUri                    0
finalWorth                 0
category                   0
otherCompensation          0
visible                    0
personName                 0
age                        0
country                   13
state                   1920
city                      45
source                     0
industries                 0
countryOfCitizenship       0
timestamp                  0
version                    0
naturalId                  0
position                   0
imageExists                0
selfMade                   0
status                     0
gender                    16
birthDate                 99
lastName                   0
firstName                  6
listDescription            0
date                       0
wealthList                 0
familyList                 0
squareImage              681
bioSuppress                0
suppressOnProfiles         0
premiumProfile             0
philanthropyScore          0
netWorth                   0
dtype: int64

In [207]:
data['name']

0       Billionaires
1       Billionaires
2       Billionaires
3       Billionaires
4       Billionaires
            ...
2663    Billionaires
2664    Billionaires
2665    Billionaires
2666    Billionaires
2667    Billionaires
Name: name, Length: 2668, dtype: object