In [14]:
import requests
import json
import pandas as pd

In [24]:
url = 'https://www.empleospublicos.cl/teee/data/convocatorias2.txt?nocache=1672305989451'

url = 'https://www.empleospublicos.cl/teee/data/convocatorias2.txt?_=1672305989341'

response = requests.get(url)

In [28]:
# pd.DataFrame(response.json())

In [30]:
# response.text

In [33]:
acc = [
    {'a':1,'b':7,'c':3},
    {'a':2,'b':8,'c':4},
    {'a':3,'b':9,'c':5}
]
pd.DataFrame(acc)

   a  b  c
0  1  7  3
1  2  8  4
2  3  9  5

In [40]:
acc_str = "[{'a':1,'b':7,'c':3},{'a':2,'b':8,'c':4},{'a':3,'b':9,'c':5}]"
acc_str

"[{'a':1,'b':7,'c':3},{'a':2,'b':8,'c':4},{'a':3,'b':9,'c':5}]"