In [ ]:
option = 'Billionaires'

In [ ]:
match option:
    case "Billionaires":
        print("You can become a web developer.")

    case "News":
        print("You can become a Data Scientist")

    case "Forbes":
        print("You can become a backend developer")

In [ ]:
class Webscrape:
  def __init__(self, website, url):
    self.website = website
    self.url = url

p1 = Webscrape("John", 36)
p2 = Webscrape('Billionaires', 44)

print(p1.website)
print(p1.url)

print(p2.website)
print(p2.url)

In [1]:
import Root

In [9]:
from Projects import SurplusStore

SurplusStore.cat

'Surplus Store Variable'

In [14]:
options = [
    'Surplus Store - BYUI',
    'Forbes - Universities',
    'Job Board - BYUI',
    'Class Catalog - BYUI',
    'Forbes - Billionaries',
    'News - CBS',
    'Políticos Españoles',
    'Irvine Spectrum Center',
    'Politicos Chilenos',
    'FIFA World Cup',
    'SINCA MMA Gob',
    'Mutual App Feedback',
    'US House of Representatives',
    'Financial Data',
    'Country Code',
    'Billionaires',
    'test']
    
options.sort()

In [23]:
projects = {
   'Billionaires':1,
   'Class Catalog - BYUI':2,
   'Country Code':3,
   'FIFA World Cup':4,
   'Financial Data':5,
   'Forbes - Billionaries':6,
   'Forbes - Universities':7,
   'Irvine Spectrum Center':8,
   'Job Board - BYUI':9,
   'Mutual App Feedback':10,
   'News - CBS':11,
   'Politicos Chilenos':12,
   'Políticos Españoles':13,
   'SINCA MMA Gob':14,
   'Surplus Store - BYUI':15,
   'US House of Representatives':16,
   'test':17
}

In [19]:
projects = {
   1:'Billionaires',
   2:'Class Catalog - BYUI',
   3:'Country Code',
   4:'FIFA World Cup',
   5:'Financial Data',
   6:'Forbes - Billionaries',
   7:'Forbes - Universities',
   8:'Irvine Spectrum Center',
   9:'Job Board - BYUI',
   10:'Mutual App Feedback',
   11:'News - CBS',
   12:'Politicos Chilenos',
   13:'Políticos Españoles',
   14:'SINCA MMA Gob',
   15:'Surplus Store - BYUI',
   16:'US House of Representatives',
   17:'test'
}

In [24]:
projects['test']

17

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd 

url = 'https://www.foxsports.com/soccer/2022-fifa-world-cup/teams'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
country_name = [x.text for x in soup.find_all('h3')]
countries = [x['href'] for x in soup.find_all('a',{'class':'entity-list-row-container image-logo'})]


# ---------------------------------------- running time: 1m 20s ---------------------------------------- #

rows=[]

for idx,country in enumerate(countries):

    url_root = f'https://www.foxsports.com{country}-roster'
    soup = BeautifulSoup(requests.get(url_root).text, 'html.parser')

    table = soup.find('div',{'view':'team'})
    title = [x.text.strip() for x in table.find_all('tr')[0]]
    
    for group in table.find_all('tbody')[:-1]:
        for player in group:
            row={}
            row['Country'] = country_name[idx].capitalize()
            row['Name'] = player.find('h3').text
            row[title[1]] = player.find('td',{'data-index':'1'}).text.strip()
            row[title[2]] = player.find('td',{'data-index':'2'}).text.strip()
            row[title[3]] = player.find('td',{'data-index':'3'}).text.strip()
            row[title[4]] = player.find('td',{'data-index':'4'}).text.strip()
            rows.append(row)

data = pd.DataFrame(rows)

data = data[~data.isin(['-']).any(axis=1)] # drop rows with missing data

# POS_mapped = {'G': 'Goalkeeper', 'D': 'Defender', 'M': 'Midfielder', 'F': 'Forward'}

# data.replace({title[1]: POS_mapped}, inplace=True)

# data[title[2]] = pd.to_numeric(data[title[2]]) # age column to number

# data[title[3]] = data[title[3]].apply(lambda x: (int(x.split('\'')[0])*12 + int(x.split('\'')[1].replace('\"',''))) * 2.54) # inches to centimeters

# # weight column to number
# data[title[4]] = data[title[4]].apply(lambda x: round(int(x.split(' ')[0]) / 2.205,1)) # lbs to kg

# data

        Country               Name         POS  AGE      HT    WT
0     Argentina      Franco Armani  Goalkeeper   35  187.96  88.0
1     Argentina  Emiliano Martinez  Goalkeeper   30  193.04  88.9
2     Argentina     Geronimo Rulli  Goalkeeper   30  187.96  83.9
3     Argentina       Marcos Acuna    Defender   30  170.18  68.9
4     Argentina         Juan Foyth    Defender   24  177.80  68.9
...         ...                ...         ...  ...     ...   ...
1370      Wales  Jonathan Williams  Midfielder   28  167.64  59.9
1371      Wales        Gareth Bale     Forward   33  182.88  81.6
1372      Wales          Wes Burns     Forward   27  172.72  67.6
1375      Wales      Kieffer Moore     Forward   30  195.58  82.5
1376      Wales      Tyler Roberts     Forward   23  177.80  74.8

[1085 rows x 6 columns]

In [2]:
title

['GOALKEEPER', 'POS', 'AGE', 'HT', 'WT']