In [ ]:
option = 'Billionaires'

In [ ]:
match option:
    case "Billionaires":
        print("You can become a web developer.")

    case "News":
        print("You can become a Data Scientist")

    case "Forbes":
        print("You can become a backend developer")

In [ ]:
class Webscrape:
  def __init__(self, website, url):
    self.website = website
    self.url = url

p1 = Webscrape("John", 36)
p2 = Webscrape('Billionaires', 44)

print(p1.website)
print(p1.url)

print(p2.website)
print(p2.url)

In [1]:
import Root

In [9]:
from Projects import SurplusStore

SurplusStore.cat

'Surplus Store Variable'

In [14]:
options = [
    'Surplus Store - BYUI',
    'Forbes - Universities',
    'Job Board - BYUI',
    'Class Catalog - BYUI',
    'Forbes - Billionaries',
    'News - CBS',
    'Políticos Españoles',
    'Irvine Spectrum Center',
    'Politicos Chilenos',
    'FIFA World Cup',
    'SINCA MMA Gob',
    'Mutual App Feedback',
    'US House of Representatives',
    'Financial Data',
    'Country Code',
    'Billionaires',
    'test']
    
options.sort()

In [23]:
projects = {
   'Billionaires':1,
   'Class Catalog - BYUI':2,
   'Country Code':3,
   'FIFA World Cup':4,
   'Financial Data':5,
   'Forbes - Billionaries':6,
   'Forbes - Universities':7,
   'Irvine Spectrum Center':8,
   'Job Board - BYUI':9,
   'Mutual App Feedback':10,
   'News - CBS':11,
   'Politicos Chilenos':12,
   'Políticos Españoles':13,
   'SINCA MMA Gob':14,
   'Surplus Store - BYUI':15,
   'US House of Representatives':16,
   'test':17
}

In [19]:
projects = {
   1:'Billionaires',
   2:'Class Catalog - BYUI',
   3:'Country Code',
   4:'FIFA World Cup',
   5:'Financial Data',
   6:'Forbes - Billionaries',
   7:'Forbes - Universities',
   8:'Irvine Spectrum Center',
   9:'Job Board - BYUI',
   10:'Mutual App Feedback',
   11:'News - CBS',
   12:'Politicos Chilenos',
   13:'Políticos Españoles',
   14:'SINCA MMA Gob',
   15:'Surplus Store - BYUI',
   16:'US House of Representatives',
   17:'test'
}

In [24]:
projects['test']

17

In [3]:
import requests # to get the html markdown from the url
from bs4 import BeautifulSoup # to make the html readable
import pandas as pd # to save table in a csv

# Get the data from website
url = 'https://web.byui.edu/SurplusList/'
html_data = requests.get(url)
soup = BeautifulSoup(html_data.text, 'html.parser')

# Build Table
rows=[]
for item in soup.find_all('tr')[13:]:
    row={}
    row['Item Number'] = item.select('td')[0].text
    row['Qty'] = item.select('td')[1].text
    row['Description'] = item.select('td')[2].text
    row['Condition'] = item.select('td')[3].text
    row['Price'] = item.select('td')[4].text
    row['Location'] = item.select('td')[5].text
    row['Quick/Bid'] = item.select('td')[6].text
    row['Image'] = item.select('td')[7].text
    rows.append(row)

data = pd.DataFrame(rows)

pd.set_option('display.max_rows', None)

data

,Item Number,Qty,Description,Condition,Price,Location,Quick/Bid,Image
0,77508,1,"2018 Chevrolet Colorado 4X4, extended cab, pow...",GOOD,"$27,995.00",EA,Bid,
1,77122,1,BKI Free Standing Fry Dump Station or Food Wa...,GOOD,$350.00,EA,Quick,Image
2,75191,1,Catalyst 6500 Chassis,GOOD,$50.00,UT,Quick,
3,76137,1,Chick-fil-A Sandwich and Fry Display,GOOD,$121.25,EA,Quick,Image
4,75173,1,Cisco 6500 series chassis,GOOD,$50.00,EA,Quick,
5,75176,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
6,75177,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
7,75178,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
8,75179,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
9,75180,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
10,75181,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
11,75182,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
12,75183,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
13,75184,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
14,75185,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
15,75186,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
16,75187,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
17,75188,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
18,75189,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
19,75190,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
20,75192,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
21,75193,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
22,75194,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
23,75195,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
24,75196,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
25,75197,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
26,75198,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
27,75199,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
28,75200,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
29,75201,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
30,75202,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
31,75203,1,Cisco 6500 series chassis,GOOD,$50.00,UT,Quick,
32,76915,78,"Coin Boxes - Pennies, Nickels, Dimes",EXCELLENT,$0.25,EA,Quick,
33,50232,707,COMPUTER - Keyboards,GOOD,$5.00,EA,Quick,
34,51847,625,COMPUTER - Mice,GOOD,$2.00,EA,Quick,
35,46633,300,COMPUTER - Power Cords,VARIES,$1.00,EA,Quick,
36,52804,1029,COMPUTER - USB Printer Cables,GOOD,$1.00,EA,Quick,Image
37,76847,4,Desisti De-Lux-2 Model 4600 Stage/Studio Light,FAIR,$320.00,EA,Bid,Image
38,76846,12,Desisti Giotto Model 4130 Stage/Studio Light,FAIR,$160.00,EA,Bid,Image
39,76849,6,Desisti Leonardo Model 310 Stage/Studio Light,FAIR,$150.00,EA,Bid,Image
40,76848,2,Desisti Leonardo Model 320 1000W Light Stage/S...,FAIR,$200.00,EA,Bid,Image
41,76845,6,Desisti Magis Model 300. 60W Stage/Studio Light,FAIR,$125.00,EA,Bid,Image
42,76878,1,dmps3-4k-150-c,FAIR,"$3,000.00",EA,Quick,
43,76139,1,Duke Tray Warmer,GOOD,$243.75,EA,Quick,Image
44,77123,1,Electric Pie Press with extras,GOOD,"$1,500.00",EA,Quick,Image
45,77121,1,"Electrolux Professional Ag, Ch-6210 Sursee Til...",GOOD,"$8,750.00",EA,Quick,Image
46,76140,1,Fry Catch Basin,GOOD,$118.75,EA,Quick,Image
47,77357,2,GE oven/range without power cord,FAIR,$50.00,EA,Quick,Image
48,58571,43,Gray RCA Audio,VARIES,$1.00,EA,Quick,Image
49,76313,1,Hanging projector scissor lift,POOR,$25.00,EA,Quick,
50,77502,1,Jet Belt Drive Bench Lathe Model BDB -1340A Th...,EXCELLENT,"$6,700.00",UT,Quick,Image
51,77503,1,Jet Vertical Milling Machine Model Number ...,EXCELLENT,"$8,400.00",UT,Quick,Image
52,52304,20,Large AC Adaptors,FAIR,$15.00,EA,Quick,Image
53,76048,1,mop bucket,UNKNOWN,$0.75,EA,Quick,
54,76843,1,Morgana Digifold Pro Folding/Scoring Machine,FAIR,"$7,500.00",EA,Quick,Image
55,75974,1,Old Monitor,FAIR,$2.50,EA,Quick,
56,76129,1,Pioneer DVD Player (DV-606D),FAIR,$3.75,EA,Quick,
57,77182,1,portable hand wash station,POOR,$50.00,EA,Quick,
58,58227,99,RCA Audio cables,VARIES,$1.00,EA,Quick,
59,76257,18,Sold by the case furnace filters,EXCELLENT,$8.00,EA,Quick,
60,77403,4,toa 900 wall amps,FAIR,$37.50,EA,Quick,
61,52769,35,VGA Cables,GOOD,$1.00,EA,Quick,Image
62,77504,1,Wiedermann Machine Company----- TURETT PUNCH,GOOD,"$1,500.00",UT,Quick,Image
63,,,,,,,,

In [1]:
from Projects import SurplusStore

In [5]:
SurplusStore.data

,Item Number,Qty,Description,Condition,Price,Location,Quick/Bid,Image
0,77508,1,"2018 Chevrolet Colorado 4X4, extended cab, pow...",GOOD,"$27,995.00",EA,Bid,
1,77122,1,BKI Free Standing Fry Dump Station or Food Wa...,GOOD,$350.00,EA,Quick,Image
2,75191,1,Catalyst 6500 Chassis,GOOD,$50.00,UT,Quick,
3,76137,1,Chick-fil-A Sandwich and Fry Display,GOOD,$121.25,EA,Quick,Image
4,75173,1,Cisco 6500 series chassis,GOOD,$50.00,EA,Quick,
...,...,...,...,...,...,...,...,...
59,76257,18,Sold by the case furnace filters,EXCELLENT,$8.00,EA,Quick,
60,77403,4,toa 900 wall amps,FAIR,$37.50,EA,Quick,
61,52769,35,VGA Cables,GOOD,$1.00,EA,Quick,Image
62,77504,1,Wiedermann Machine Company----- TURETT PUNCH,GOOD,"$1,500.00",UT,Quick,Image
63,,,,,,,,

In [4]:
SurplusStore.url

'https://web.byui.edu/SurplusList/'

In [1]:
import Projects.FIFA_World_Cup.FIFAWorldCup as xZx

In [1]:
from Projects._1_Billionaires import forbesBillionaires

In [2]:
forbesBillionaires.data

   col1  col2
0     1     3
1     2     4

In [2]:
import pandas as pd

In [4]:
pd.DataFrame(range(20))

     0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19

In [52]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://www.forbes.com/billionaires/page-data/index/page-data.json"

response = requests.get(url)

json_data = response.json()

rows = json_data['result']['pageContext']['tableData']

tableData = {
    k: v
    for (k, v) in rows[0].items()
    if
    (k != 'person') & # dict
    (k != 'employment') & # dict
    (k != 'qas') & # two dicts
    (k != 'bios') & # list
    (k != 'abouts') & #list
    (k != 'csfDisplayFields') #list
}

ls_=[]

In [37]:
my_dataset = {
    'A':{'a':'NaN','b':3},
    'B':{'a':2,'b':2},
    'C':{'a':3,'b':'NaN'}
}
my_dataset

{'A': {'a': 'NaN', 'b': 3}, 'B': {'a': 2, 'b': 2}, 'C': {'a': 3, 'b': 'NaN'}}

In [41]:
my_dataset_clean = {
   k: {
      k2: 0
      if v2 == 'NaN'
      else v2
      for k2, v2 in v.items()
      }
   \
   for k, v in my_dataset.items()
}

my_dataset_clean

{'A': {'a': 0, 'b': 3}, 'B': {'a': 2, 'b': 2}, 'C': {'a': 3, 'b': 0}}

In [42]:
pd.DataFrame(my_dataset)

     A  B    C
a  NaN  2    3
b    3  2  NaN

In [43]:
pd.DataFrame(my_dataset_clean)

   A  B  C
a  0  2  3
b  3  2  0

In [55]:
for e in ls_:
    print(e)

In [61]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://www.forbes.com/billionaires/page-data/index/page-data.json"

response = requests.get(url)

json_data = response.json()

rows = json_data['result']['pageContext']['tableData']

# ls_=[]

# for row in rows:
#     tableData = {
#         k: v
#         for (k, v) in row.items()
#         if
#         (k != 'person') & # dict
#         (k != 'employment') & # dict
#         (k != 'qas') & # two dicts
#         (k != 'bios') & # list
#         (k != 'abouts') & #list
#         (k != 'csfDisplayFields') #list
#         }
#     ls_.append(tableData)

# data = pd.DataFrame(ls_)

# cols_to_drop = [
#     'parentListUri',
#     'organization',
#     'title',
#     'selfMadeRank',
#     'residenceStateRegion',
#     'embargo',
#     'residenceMsa',
#     'impactInvestor',
#     'numberOfSiblings',
#     'numberOfSiblingsEst',
#     'bio',
#     # 'totalCharitableDonation',
#     # 'charitableDonationPercentage',
#     'thumbnail',
#     'notableDeal',
#     'valueCreated',
#     'primaryIndustry',
#     'portraitImage',
#     'landscapeImage',
#     'clients']

# data.drop(cols_to_drop, axis=1, inplace=True)

# data['squareImage'].fillna('https://i.forbesimg.com/media/assets/forbes_1200x1200.jpg', inplace=True)

# data['country'].fillna('Not Specified', inplace=True)

# data['state'].fillna('Not Specified', inplace=True)

# data['city'].fillna('Not Specified', inplace=True)

# data['gender'].fillna('Not Specified', inplace=True)

# data['birthDate'].fillna('Not Specified', inplace=True)

# data['firstName'].fillna('Not Specified', inplace=True)

In [62]:
pd.DataFrame(rows)

,name,year,month,uri,rank,listUri,finalWorth,category,otherCompensation,person,...,impactInvestor,numberOfSiblings,numberOfSiblingsEst,bio,notableDeal,valueCreated,primaryIndustry,portraitImage,landscapeImage,clients
0,Billionaires,2022,4,elon-musk,1,billionaires,219000,Automotive,0,"{'name': 'Elon Musk', 'uri': 'elon-musk', 'ima...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Billionaires,2022,4,jeff-bezos,2,billionaires,171000,Technology,0,"{'name': 'Jeff Bezos', 'uri': 'jeff-bezos', 'i...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Billionaires,2022,4,bernard-arnault,3,billionaires,158000,Fashion & Retail,0,"{'name': 'Bernard Arnault & family', 'uri': 'b...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Billionaires,2022,4,bill-gates,4,billionaires,129000,Technology,0,"{'name': 'Bill Gates', 'uri': 'bill-gates', 'i...",...,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Billionaires,2022,4,warren-buffett,5,billionaires,118000,Finance & Investments,0,"{'name': 'Warren Buffett', 'uri': 'warren-buff...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2663,Billionaires,2022,4,zhang-yuqiang,2578,billionaires,1000,Manufacturing,0,"{'name': 'Zhang Yuqiang', 'uri': 'zhang-yuqian...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2664,Billionaires,2022,4,zhou-ruxin,2578,billionaires,1000,Technology,0,"{'name': 'Zhou Ruxin', 'uri': 'zhou-ruxin', 'i...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2665,Billionaires,2022,4,wen-zhou,2578,billionaires,1000,Manufacturing,0,"{'name': 'Wen Zhou & family', 'uri': 'wen-zhou...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2666,Billionaires,2022,4,zhou-yifeng,2578,billionaires,1000,Energy,0,"{'name': 'Zhou Yifeng & family', 'uri': 'zhou-...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2667,Billionaires,2022,4,zhuang-kuilong,2578,billionaires,1000,Manufacturing,0,"{'name': 'Zhuang Kuilong & family', 'uri': 'zh...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://www.forbes.com/billionaires/page-data/index/page-data.json"

response = requests.get(url)

json_data = response.json()

rows = json_data['result']['pageContext']['tableData']

data = pd.DataFrame(rows)

In [70]:
data.shape

(2668, 63)

In [71]:
import requests # to get the html markdown from the url
from bs4 import BeautifulSoup # to make the html readable
import pandas as pd # to save table in a csv
from datetime import datetime # to append current time into file name

# List of all IG urls
url = 'https://sinca.mma.gob.cl/'
html_data = requests.get(url)
soup = BeautifulSoup(html_data.text, 'html.parser')

# list of all regions link. Each region page has their stations link. From station link we get the data.
regiones = ['https://sinca.mma.gob.cl/'+x['href'] for x in soup.findAll('a')][15:-4]

# running time: 32s
# get list of urls. all station links

url_stations = []
for page in regiones:
    html_data = requests.get(page)
    soup = BeautifulSoup(html_data.text, 'html.parser')
    url_stations = url_stations + [x.findAll('a')[0]['href'] for x in soup.find_all('tbody')[0].find_all('tr')]
len(url_stations)
# running time 3m 30s

rows=[]

for region in url_stations:
    
    url = 'https://sinca.mma.gob.cl'+region
    html_data = requests.get(url)
    soup = BeautifulSoup(html_data.text, 'html.parser')
    
    estacion = soup.select('h1')[1].text.split(' ')[1:]
    estacion = ' '.join(estacion)

    GI_cols =   [ x.get_text().strip() for x in soup.find_all('th',{'class':'right'})]
    GI_values = [ x.get_text().strip() for x in soup.find_all('td',{'class':'left'}) ]

    row={}
    for idx in range(len(GI_values)):
        row.update({GI_cols[idx] : GI_values[idx]})
    row.update({'Estacion_id':int(region.split('/')[-1])})
    row.update({'Estacion':estacion})
    row.update({'URL':url})
    
    rows.append(row)

data = pd.DataFrame(rows)

# Clean data

data['Región'] = data['Región'].apply(lambda x: x.replace('de ',''))

data['Huso horario'] = data['Huso horario'].apply(lambda x: int(x))

data.sort_values('Estacion', inplace=True)

KeyboardInterrupt:

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd 

url = 'https://www.cbsnews.com/world/'

response = requests.get(url)

soup = BeautifulSoup(response.text)

rows = [] # list of information for each article

sections = soup.find_all('section')

for section in sections:

    articles = section.find_all('article')
    
    try:
        # print(section.find('h3').text.strip())
        for article in articles:
            row = {}
            row['Section'] = section.find('h3').text.strip()
            row['Title'] = article.find('h4').text.strip()
            row['Description'] = article.find('p').text.strip()
            row['Date'] = article.find('li').text
            row['url_article'] = article.find('a')['href']
            row['url_image'] = article.find('img')['src']
            rows.append(row)
    except:
        pass

data = pd.DataFrame(rows)

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime
# running time: 7 minutes
rows_info = []
rows_votes = []
rows_description=[]

for pag in range(7): # '7' because there are 7 pages
    url = f'https://feedback.mutual.app/?page={pag+1}&order=popular&filter=all#controls' # url for each page. only change the page number
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    info = soup.find_all('div',{'class':'sInfo'})
    votes= soup.find_all('div',{'class':'sNumbers'})

    #************* INFO DICTIONARARY *************
    for attribute in info:
        row = {}
        row['id'] = attribute.find('a')['href'].split('/')[2]
        row['suggestion'] = attribute.find('a')['href'].split('/')[-1].replace('-',' ').capitalize()
        row['author'] = attribute.find_all('strong')[0].get_text()

        start = attribute.find_all('span')[0].get_text(strip=True).find('(')+1
        end = attribute.find_all('span')[0].get_text(strip=True).find(')')
        
        row['date_created'] = attribute.find_all('span')[0].get_text(strip=True)[start:end].replace('\'','20')
        row['last_upvoted'] = attribute.find_all('span',{'class':'sLastComment'})[0].get_text(strip=True)[9:].replace('\'','20')
        row['comments'] = attribute.find_all('span',{'class':'sLabel'})[0].get_text(strip=True)[10:]
        try:
            row['status'] = attribute.find_all('div',{'class':'sLabels'})[0].get_text(strip=True).replace('Pinned','')
        except:
            pass
            # pass 
        rows_info.append(row)

    #************* VOTES DICTIONARARY *************
    for attribute in votes:
        row = {}
        row['votes'] = attribute.find('a').get_text(strip=True)[:-5].replace('K','000')
        rows_votes.append(row)

    # ************* DESCRIPTION DICTIONARARY *************
    for attribute in info:
        url = f'https://feedback.mutual.app'+attribute.find('a')['href']
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')
        row = {}
        p = soup.find('div',{'class':'suggestionDescription'}).get_text().strip()
        row['Description'] = p.encode('ascii','replace').decode().replace('???','\'')
        rows_description.append(row)


    #************* JOIN *************
    for idx,e in enumerate(rows_votes):
        rows_info[idx].update(e)

    for idx,e in enumerate(rows_description):
        rows_info[idx].update(e)

data = pd.DataFrame(rows_info)

In [73]:
import requests
import pandas as pd

response = requests.get('https://www.forbes.com/forbesapi/org/top-colleges/2021/position/true.json?limit=1000&fields=organizationName,academics,state,financialAid,rank,medianBaseSalary,campusSetting,studentPopulation,organization,description')

responseObject = response.json()

responseData = responseObject['organizationList']['organizationsLists']

data_main = pd.DataFrame(responseData)

In [75]:
# add organization
organization = [ x['organization'] for x in responseData]
data_main = pd.concat([data_main, pd.DataFrame(organization)], axis=1)

#### Add single 'Primary_Key' column to main table

# add naturalId column
data_main['Primary_Key'] = [ x['organization']['naturalId'].split('/')[-1] for x in responseData]

#### Adding 'organization/geoLocation' to main table

# add geoLocation columns
rows = []

for organizationsLists in responseData:
    row = {}    
    # row['Primary_Key'] = organizationsLists['organization']['naturalId'].split('/')[-1]
    try:
        row['latitude'] = organizationsLists['organization']['geoLocation']['latitude']
    except:
        pass
    try:
        row['longitude']= organizationsLists['organization']['geoLocation']['longitude']
    except:
        pass
    rows.append(row)

data_main = pd.concat([data_main, pd.DataFrame(rows)], axis=1)

#### Adding 'Academics' to main table

academics = [ # items in the 'academics' key to be unpacked
    'attendanceStatus',
    'firstToSecondYearRetention',
    'overallGraduationRates',
    'enrollmentByGender',
    'graduationRateByGender',
    'enrollmentByRace',
    'graduationRateByRace']

def restructure(list_of_dictionaries,name): # change the shape of the json
    row = {}
    for item in list_of_dictionaries:
        key_value = [value for key,value in item.items()]
        key_name = name + '_' + key_value[0]
        row[key_name] = key_value[1]
    return row

def dataFrame_of_Item(item): # build a data frame from all json's 
    list_of_rows = []
    for organization in responseData:
        # create reshaped json
        graduationRateByRace = restructure(organization['academics'][item],item)
        # add primary_key number
        # graduationRateByRace['PrimaryKey'] = organization['organization']['naturalId'].split('/')[-1]
        # append to list
        list_of_rows.append(graduationRateByRace)
    return pd.DataFrame(list_of_rows)

# add date frames to main data
df_ls = []

for item in academics:
    df_ls.append(dataFrame_of_Item(item))

academics_unpacked = pd.concat(df_ls, axis=1)

data_main = pd.concat([data_main,academics_unpacked], axis=1)


#### Adding 'organization/socialNetworks' to main table
def restructure(list_of_dictionaries): # input: list of dictionaries | output: structured dictionary
    row = {}
    for item in list_of_dictionaries:
        key_value = [value for key,value in item.items()]
        key_name =key_value[0]
        row[key_name] = key_value[1]
    return row

def dataFrame_of_Item(col_name,item,TF): # input: name of dict to unpack | output: data frame
    list_of_rows = []
    for organization in responseData:
        # create json
        dictionary = {}
        try:
            # create reshaped json
            dictionary = dictionary | restructure(organization[col_name][item])
        except:
            pass
        # add primary_key number
        if TF:
            dictionary['Primary_Key'] = organization['organization']['naturalId'].split('/')[-1]
        # append to list
        list_of_rows.append(dictionary)
    return pd.DataFrame(list_of_rows)

df_socialNetworks = dataFrame_of_Item('organization','socialNetworks',True)

data_main = data_main.merge(df_socialNetworks, on='Primary_Key')
#### Adding 'financialAid' to main table
financialAid = [
    'grantAidByType',
    'avgGrantAidByType',
    'loansByType',
    'avgLoansByType']

def restructure(list_of_dictionaries): # input: list of dictionaries | output: structured dictionary
    row = {}
    for item in list_of_dictionaries:
        key_value = [value for key,value in item.items()]
        key_name =key_value[0]
        row[key_name] = key_value[1]
    return row

def dataFrame_of_Item(col_name,item,TF): # input: name of dict to unpack | output: data frame
    list_of_rows = []
    for organization in responseData:
        # create json
        dictionary = {}
        try:
            # create reshaped json
            dictionary = dictionary | restructure(organization[col_name][item])
        except:
            pass
        # add primary_key number
        if TF:
            dictionary['Primary_Key'] = organization['organization']['naturalId'].split('/')[-1]
        # append to list
        list_of_rows.append(dictionary)
    return pd.DataFrame(list_of_rows)

# add date frames to main data
df_ls = []

for item in financialAid:
    df_ls.append(dataFrame_of_Item('financialAid',item,True))

financialAid_unpacked = pd.concat(df_ls, axis=1)

financialAid_unpacked = financialAid_unpacked.loc[:, ~financialAid_unpacked.columns.duplicated()]

data_main = data_main.merge(financialAid_unpacked)

data_main = data_main.loc[:, ~data_main.columns.duplicated()]

drop_columns = ['organization','academics','financialAid','listImages','geoLocation','visible','relatedVisible','imageExists','socialNetworks','collegeMedia']

data_main.drop(drop_columns, axis=1, inplace=True)

In [77]:
data_main

,description,rank,organizationName,state,studentPopulation,campusSetting,medianBaseSalary,naturalId,name,uri,...,YouTube,federalGrant,pellGrant,otherFederalGrant,stateLocalGrant,institutionalGrant,anyGrant,anyLoan,federalLoan,nonFederalLoan
0,One of the top public universities in the coun...,1,"University of California, Berkeley",CA,43185,Urban,138800.0,fred/college/64,"University of California, Berkeley",university-of-california-berkeley,...,http://www.berkeley.edu/tour/,23.0,27.0,13.0,31.0,51.0,19126.0,23.0,23.0,12.0
1,"The second oldest Ivy League institution, Yale...",2,Yale University,CT,13609,Urban,141300.0,fred/college/10,Yale University,yale-university,...,http://admissions.yale.edu/virtual-tour,20.0,18.0,9.0,NaN,56.0,55827.0,6.0,6.0,NaN
2,Princeton is a leading private research univer...,3,Princeton University,NJ,8419,Suburban,150500.0,fred/college/2,Princeton University,princeton-university,...,http://www.princeton.edu/~oktour/virtualtour/,21.0,19.0,4.0,2.0,62.0,52188.0,10.0,4.0,8.0
3,"Located just outside of Palo Alto, CA, Stanfor...",4,Stanford University,CA,17249,Suburban,147100.0,fred/college/6,Stanford University,stanford-university,...,NaN,18.0,17.0,8.0,5.0,56.0,54808.0,7.0,7.0,1.0
4,Columbia University in the City of New York is...,5,Columbia University,NY,31456,Urban,132100.0,fred/college/13,Columbia University,columbia-university-in-the-city-of-new-york,...,NaN,18.0,25.0,10.0,6.0,52.0,55071.0,10.0,8.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,"Affiliated with the Presbyterian Church, Whitw...",596,Whitworth University,WA,2814,Suburban,89100.0,fred/college/208,Whitworth University,whitworth-university,...,https://www.whitworth.edu/GeneralInformation/V...,38.0,30.0,33.0,27.0,97.0,32340.0,59.0,59.0,6.0
596,"Augustana University in Sioux Falls, SD, one o...",597,Augustana University,SD,2113,Urban,91900.0,fred/college/307,Augustana University,augustana-university,...,www.augie.edu/admission/visiting-campus,20.0,19.0,20.0,29.0,100.0,22281.0,66.0,64.0,22.0
597,"A small, Lutheran liberal arts college in the ...",598,Luther College,IA,1951,Rural,83800.0,fred/college/121,Luther College,luther-college,...,http://www.luther.edu/campus/virtualtour/,20.0,18.0,20.0,11.0,100.0,31966.0,66.0,66.0,45.0
598,Coe College is a liberal arts school in Cedar ...,599,Coe College,IA,1430,Urban,88300.0,fred/college/224,Coe College,coe-college,...,NaN,42.0,35.0,18.0,25.0,100.0,35805.0,77.0,77.0,21.0
599,"St Francis is a small, Catholic liberal arts c...",600,St. Francis College,NY,2596,Urban,93800.0,fred/college/445,St. Francis College,st-francis-college,...,http://sfc.edu/campusmap,53.0,47.0,5.0,58.0,100.0,19359.0,37.0,37.0,NaN

In [1]:
import os

In [6]:
ls_ = os.listdir('../')

In [8]:
[
    'Mutual Feedback',
    'BYUI_JobBoard',
    'Forbes',
    'Irvine Spectrum Center',
    'SurplusSaleItems',
    '.DS_Store',
    'Politicos Chilenos',
    'US House of Representatives',
    'Forbes-Universities',
    'FIFA World Cup',
    'README.md',
    'Billionaires',
    'Financial Data',
    'SINCA MMA Gob',
    'News',
    'BYU-Idaho Class Catalog',
    '.git',
    'Country Code',
    'Políticos Españoles'
]

['Mutual Feedback',
 'BYUI_JobBoard',
 'Forbes',
 'Irvine Spectrum Center',
 'SurplusSaleItems',
 '.DS_Store',
 'Politicos Chilenos',
 'US House of Representatives',
 'Forbes-Universities',
 '@Calling-Code',
 'FIFA World Cup',
 'README.md',
 'Billionaires',
 'Financial Data',
 'SINCA MMA Gob',
 'News',
 'BYU-Idaho Class Catalog',
 '.git',
 'Country Code',
 'Políticos Españoles']

In [10]:
os.listdir('Projects')

['_3_CountryCode',
 '_2_BYUI_ClassCatalog',
 '.DS_Store',
 'test',
 '_8_IrvineSpectrumCenter',
 '_1_Billionaires',
 '_6_ForbesBillionaries',
 '_16_USHouseRepresentatives',
 '_4_FIFAWorldCup',
 '__pycache__',
 '_14_SINCAMMAGob',
 'Billionaires',
 '_7_ForbesUniversities',
 '_15_BYUI_SurplusStore',
 '_13_PoliticosEspanoles',
 '_9_BYUI_JobBoard',
 '_5_Financial Data',
 '_12_PoliticosChilenos',
 '_11_NewsCBS',
 '_10_MutualAppFeedback']