In [47]:
import requests
import numpy as np
import pandas as pd
from pathlib import Path

In [56]:
# Forbes lists
lists = [
  { 'type': 'person', 'year': 2022, 'uri': 'billionaires' },                  # World richest
    { 'type': 'person', 'year': 2017, 'uri': 'forbes-400' },                  # American richest 400
    { 'type': 'person', 'year': 2017, 'uri': 'hong-kong-billionaires' },      # Hong Kong richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'australia-billionaires' },      # Australia richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'china-billionaires' },          # China richest 400
    { 'type': 'person', 'year': 2017, 'uri': 'taiwan-billionaires' },         # Taiwan richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'india-billionaires' },          # India richest 100
    { 'type': 'person', 'year': 2017, 'uri': 'japan-billionaires' },          # Japan richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'africa-billionaires' },         # Africa richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'korea-billionaires' },          # Korea richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'malaysia-billionaires' },       # Malaysia richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'philippines-billionaires' },    # Philippines richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'singapore-billionaires' },      # Singapore richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'indonesia-billionaires' },      # Indonesia richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'thailand-billionaires' },       # Thailand richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'self-made-women' },             # American richest self-made women
    { 'type': 'person', 'year': 2017, 'uri': 'richest-in-tech' },             # tech richest
    { 'type': 'person', 'year': 2017, 'uri': 'hedge-fund-managers' },         # hedge fund highest-earning
    { 'type': 'person', 'year': 2016, 'uri': 'powerful-people' },             # world powerful
    { 'type': 'person', 'year': 2017, 'uri': 'power-women' },                 # world powerful women
    { 'type': 'person', 'year': 0, 'uri': 'rtb' },                            # real-time world billionaires
    { 'type': 'person', 'year': 0, 'uri': 'rtrl' },                           # real-time American richest 400
]

In [33]:
urls = []

url = 'http://www.forbes.com/ajax/list/data'

for forbes_list in lists:
    response = requests.get(url, params=forbes_list)

    urls.append(response.url)
    # DataFrame(response.json()).to_csv('sources/forbes-{}.csv'.format(forbes_list['uri']))

In [57]:
urls

['https://www.forbes.com/ajax/list/data?type=person&uri=billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=forbes-400&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=hong-kong-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=australia-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=china-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=taiwan-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=india-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=japan-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=africa-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=korea-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=malaysia-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=philippines-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=singapore-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=indonesia-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=thailand-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=self-made-women&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=richest-in-tech&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=hedge-fund-managers&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=powerful-people&year=2016',
 'https://www.forbes.com/ajax/list/data?type=person&uri=power-women&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=rtb&year=0',
 'https://www.forbes.com/ajax/list/data?type=person&uri=rtrl&year=0']

In [39]:
response = requests.get(url, params=lists[0])

response.url

'https://www.forbes.com/ajax/list/data?type=person&uri=billionaires&year=2022'

In [41]:
x = pd.DataFrame(response.json())

In [48]:
pd.options.display.max_columns = None

In [54]:
x.shape

(2769, 25)

In [52]:
x.sort_values('realTimeRank').iloc[0]

name                                                        Elon Musk
lastName                                                         Musk
uri                                                         elon-musk
imageUri                                                    elon-musk
worthChange                                                 -9277.337
age                                                              51.0
source                                                  Tesla, SpaceX
industry                                                   Automotive
gender                                                              M
country                                                 United States
timestamp                                               1668039302959
realTimeWorth                                              188128.025
realTimeRank                                                      1.0
realTimePosition                                                  1.0
squareImage         https://specials-images.forbesimg.com/imageser...
headquarters                                                       TX
state                                                           Texas
title                                                      CEO, Tesla
position                                                          1.0
rank                                                              1.0
worth                                                        219000.0
government                                                      False
pay                                                               NaN
managementAssets                                                  NaN
salary                                                            NaN
Name: 101, dtype: object

In [51]:
x.isna().sum()

name                   0
lastName               0
uri                    0
imageUri               0
worthChange          310
age                  102
source                 1
industry               1
gender                19
country                0
timestamp              0
realTimeWorth        309
realTimeRank         309
realTimePosition     309
squareImage          717
headquarters        1988
state               1960
title               2423
position             101
rank                 101
worth                101
government          2424
pay                 2749
managementAssets    2767
salary              2768
dtype: int64

In [59]:
response = requests.get(url, params=lists[-2])
response.url

'https://www.forbes.com/ajax/list/data?type=person&uri=rtb&year=0'

In [60]:
x = pd.DataFrame(response.json())
x.shape

(2460, 21)

In [62]:
x.iloc[0]

position                                                        1
rank                                                            1
name                                                    Elon Musk
lastName                                                     Musk
uri                                                     elon-musk
imageUri                                                elon-musk
worth                                                  188128.025
worthChange                                             -9277.337
age                                                          51.0
source                                              Tesla, SpaceX
industry                                               Automotive
gender                                                          M
country                                             United States
timestamp                                           1668039902724
headquarters                                           Austin, TX
state                                                       Texas
date                                                 725846400000
thumbnail       http://specials-images.forbesimg.com/imageserv...
description
squareImage     https://specials-images.forbesimg.com/imageser...
title                                                         NaN
Name: 0, dtype: object

In [63]:
x.isna().sum()

position           0
rank               0
name               0
lastName           0
uri                0
imageUri           0
worth              0
worthChange        1
age               83
source             1
industry           1
gender            18
country            0
timestamp          0
headquarters      36
state           1228
date               0
thumbnail       2061
description        2
squareImage      579
title           2459
dtype: int64