In [47]:
import requests
import numpy as np
import pandas as pd
from pathlib import Path

In [56]:
# Forbes lists
lists = [
  { 'type': 'person', 'year': 2022, 'uri': 'billionaires' },                  # World richest
    { 'type': 'person', 'year': 2017, 'uri': 'forbes-400' },                  # American richest 400
    { 'type': 'person', 'year': 2017, 'uri': 'hong-kong-billionaires' },      # Hong Kong richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'australia-billionaires' },      # Australia richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'china-billionaires' },          # China richest 400
    { 'type': 'person', 'year': 2017, 'uri': 'taiwan-billionaires' },         # Taiwan richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'india-billionaires' },          # India richest 100
    { 'type': 'person', 'year': 2017, 'uri': 'japan-billionaires' },          # Japan richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'africa-billionaires' },         # Africa richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'korea-billionaires' },          # Korea richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'malaysia-billionaires' },       # Malaysia richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'philippines-billionaires' },    # Philippines richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'singapore-billionaires' },      # Singapore richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'indonesia-billionaires' },      # Indonesia richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'thailand-billionaires' },       # Thailand richest 50
    { 'type': 'person', 'year': 2017, 'uri': 'self-made-women' },             # American richest self-made women
    { 'type': 'person', 'year': 2017, 'uri': 'richest-in-tech' },             # tech richest
    { 'type': 'person', 'year': 2017, 'uri': 'hedge-fund-managers' },         # hedge fund highest-earning
    { 'type': 'person', 'year': 2016, 'uri': 'powerful-people' },             # world powerful
    { 'type': 'person', 'year': 2017, 'uri': 'power-women' },                 # world powerful women
    { 'type': 'person', 'year': 0, 'uri': 'rtb' },                            # real-time world billionaires
    { 'type': 'person', 'year': 0, 'uri': 'rtrl' },                           # real-time American richest 400
]

In [33]:
urls = []

url = 'http://www.forbes.com/ajax/list/data'

for forbes_list in lists:
    response = requests.get(url, params=forbes_list)

    urls.append(response.url)
    # DataFrame(response.json()).to_csv('sources/forbes-{}.csv'.format(forbes_list['uri']))

In [57]:
urls

['https://www.forbes.com/ajax/list/data?type=person&uri=billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=forbes-400&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=hong-kong-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=australia-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=china-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=taiwan-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=india-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=japan-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=africa-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=korea-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=malaysia-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=philippines-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=singapore-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=indonesia-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=thailand-billionaires&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=self-made-women&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=richest-in-tech&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=hedge-fund-managers&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=powerful-people&year=2016',
 'https://www.forbes.com/ajax/list/data?type=person&uri=power-women&year=2017',
 'https://www.forbes.com/ajax/list/data?type=person&uri=rtb&year=0',
 'https://www.forbes.com/ajax/list/data?type=person&uri=rtrl&year=0']

In [39]:
response = requests.get(url, params=lists[0])

response.url

'https://www.forbes.com/ajax/list/data?type=person&uri=billionaires&year=2022'

In [41]:
x = pd.DataFrame(response.json())

In [48]:
pd.options.display.max_columns = None

In [54]:
x.shape

(2769, 25)

In [52]:
x.sort_values('realTimeRank').iloc[0]

name                                                        Elon Musk
lastName                                                         Musk
uri                                                         elon-musk
imageUri                                                    elon-musk
worthChange                                                 -9277.337
age                                                              51.0
source                                                  Tesla, SpaceX
industry                                                   Automotive
gender                                                              M
country                                                 United States
timestamp                                               1668039302959
realTimeWorth                                              188128.025
realTimeRank                                                      1.0
realTimePosition                                                  1.0
squareImage         https://specials-images.forbesimg.com/imageser...
headquarters                                                       TX
state                                                           Texas
title                                                      CEO, Tesla
position                                                          1.0
rank                                                              1.0
worth                                                        219000.0
government                                                      False
pay                                                               NaN
managementAssets                                                  NaN
salary                                                            NaN
Name: 101, dtype: object

In [51]:
x.isna().sum()

name                   0
lastName               0
uri                    0
imageUri               0
worthChange          310
age                  102
source                 1
industry               1
gender                19
country                0
timestamp              0
realTimeWorth        309
realTimeRank         309
realTimePosition     309
squareImage          717
headquarters        1988
state               1960
title               2423
position             101
rank                 101
worth                101
government          2424
pay                 2749
managementAssets    2767
salary              2768
dtype: int64

In [59]:
response = requests.get(url, params=lists[-2])
response.url

'https://www.forbes.com/ajax/list/data?type=person&uri=rtb&year=0'

In [60]:
x = pd.DataFrame(response.json())
x.shape

(2460, 21)

In [62]:
x.iloc[0]

position                                                        1
rank                                                            1
name                                                    Elon Musk
lastName                                                     Musk
uri                                                     elon-musk
imageUri                                                elon-musk
worth                                                  188128.025
worthChange                                             -9277.337
age                                                          51.0
source                                              Tesla, SpaceX
industry                                               Automotive
gender                                                          M
country                                             United States
timestamp                                           1668039902724
headquarters                                           Austin, TX
state                                                       Texas
date                                                 725846400000
thumbnail       http://specials-images.forbesimg.com/imageserv...
description
squareImage     https://specials-images.forbesimg.com/imageser...
title                                                         NaN
Name: 0, dtype: object

In [63]:
x.isna().sum()

position           0
rank               0
name               0
lastName           0
uri                0
imageUri           0
worth              0
worthChange        1
age               83
source             1
industry           1
gender            18
country            0
timestamp          0
headquarters      36
state           1228
date               0
thumbnail       2061
description        2
squareImage      579
title           2459
dtype: int64

In [15]:
import requests
import pandas as pd

url = 'https://byui.kuali.co/api/v1/catalog/courses/6102e778ef84b869ba4eb375?q='

response = requests.get(url)

responseObject = response.json()

df = pd.DataFrame(responseObject)

In [16]:
df

,__catalogCourseId,__passedCatalogQuery,dateStart,pid,id,title,subjectCode,catalogActivationDate,_score
0,ACCTG100,True,2019-01-01,414Six2j-,5a6a3fb5449c7c2e00c517af,Introduction to Accounting,"{'name': 'ACCTG', 'description': 'Accounting',...",2018-12-21,1
1,ACCTG180,True,2020-01-01,V1g4Sol3sW,5da0e7a7783602240012c9cb,Survey of Accounting,"{'name': 'ACCTG', 'description': 'Accounting',...",2019-12-01,1
2,ACCTG201,True,2020-01-01,EkrHil3oZ,5da7a52d25c43024004548bf,Financial Accounting,"{'name': 'ACCTG', 'description': 'Accounting',...",2019-12-01,1
3,ACCTG202,True,2020-01-01,Vy8rsxhiW,5da8a5c19a654a2400d2eeb3,Managerial Accounting,"{'name': 'ACCTG', 'description': 'Accounting',...",2019-12-01,1
4,ACCTG205,True,2022-01-01,NkxUrjehs-,6202ca0aaa637727f9b984da,Accounting Software,"{'name': 'ACCTG', 'description': 'Accounting',...",2021-12-01,1
...,...,...,...,...,...,...,...,...,...
2094,WELD329,True,2022-01-01,4kIpgbho-,6042c80977e1c400270d89bb,"Welding Codes, Certification & Inspection","{'name': 'WELD', 'description': 'Welding', 'id...",2021-12-01,1
2095,WELD338,True,2017-01-01,N1g86g-hib,b17972a7-c38f-4b33-9a7b-3c08f8d9f86c,Welding Automation,"{'name': 'WELD', 'description': 'Welding', 'id...",2017-01-01,1
2096,WELD350,True,2022-01-01,EJWLTlW2jZ,6063af60b548f800261b9638,Physical Metallurgy,"{'name': 'WELD', 'description': 'Welding', 'id...",2021-12-01,1
2097,WELD480,True,2022-01-01,EkG86l-3s-,6042c4c8639c000028829e4a,Welding Fabrication,"{'name': 'WELD', 'description': 'Welding', 'id...",2021-12-01,1
2098,WELD490R,True,2022-01-01,HJuZiFLSw,5f690b00634e4900264af55f,Special Topics in Welding,"{'name': 'WELD', 'description': 'Welding', 'id...",2021-12-01,1

In [11]:
df.subjectCode.apply(pd.Series)

,name,description,id,linkedGroup
0,ACCTG,Accounting,45beaa83-7d3c-4760-bdb1-6813f94d4097,578be6e1aeb3767907f3b4e8
1,ACCTG,Accounting,45beaa83-7d3c-4760-bdb1-6813f94d4097,578be6e1aeb3767907f3b4e8
2,ACCTG,Accounting,45beaa83-7d3c-4760-bdb1-6813f94d4097,578be6e1aeb3767907f3b4e8
3,ACCTG,Accounting,45beaa83-7d3c-4760-bdb1-6813f94d4097,578be6e1aeb3767907f3b4e8
4,ACCTG,Accounting,45beaa83-7d3c-4760-bdb1-6813f94d4097,578be6e1aeb3767907f3b4e8
...,...,...,...,...
2094,WELD,Welding,29ee52d3-030c-4823-a922-fe830800138c,59d3a033b0e9130001e8a713
2095,WELD,Welding,29ee52d3-030c-4823-a922-fe830800138c,59d3a033b0e9130001e8a713
2096,WELD,Welding,29ee52d3-030c-4823-a922-fe830800138c,59d3a033b0e9130001e8a713
2097,WELD,Welding,29ee52d3-030c-4823-a922-fe830800138c,59d3a033b0e9130001e8a713
2098,WELD,Welding,29ee52d3-030c-4823-a922-fe830800138c,59d3a033b0e9130001e8a713

In [2]:

url_img = "https://www.camara.cl/img.aspx?prmID=GRCL1096"

print(f'''
<center>
<img source="{url_img}">
</center>
''')

<center>
<img source="https://www.camara.cl/img.aspx?prmID=GRCL1096">
</center>